.wrapper input[type="checkbox"] + label,
.DetailsView > div:not(.view-toolbar-container) input[type="checkbox"] + label,
.EditAndDetailsView > div:not(.view-toolbar-container) input[type="checkbox"] + label {	width: 88%;	}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline;}

article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}

a{text-decoration:none;}
.clear{	clear:both;	margin: 0px;}/* clear float */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}

body{font-family: 'Open Sans', sans-serif;background:#fff;
background: bottom center fixed no-repeat;
/* url("../images/form_bg.jpg"); */
moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover;background-size:cover; overflow:scroll; }

.wrap{	width:80%;	margin:0 auto;}

.txt2{font-family: "Helvetica Neue Regular","HelveticaNeue Regular","Helvetica Neue","HelveticaNeue",Arial,Helvetica,sans-serif;color:#000;
	font-style: normal;font-size:0.9em; line-height:1.4em;text-decoration:none;}
a:hover.txt2 {color: #888888; text-decoration:underline}
.txt3{
	font-family: "Helvetica Neue Regular","HelveticaNeue Regular","Helvetica Neue","HelveticaNeue",Arial,Helvetica,sans-serif;
	color:#000;
	font-style: normal;
	font-size:25px;
	font-weight:0;
	text-decoration:none;
}
.txt4{font-family: color:#000;
	font-style: normal;font-size:1.3em;	font-weight:300;text-decoration:none; line-height:1.5em; padding-bottom:20px }

/* form */
.broad { /*background-color:#FFFFFF;*/ opacity:0.8; width:85%; -moz-border-radius: 20px;border-radius: 20px; padding:4%; text-align:left; margin:auto; z-index:100;  max-width:700px; }
.topbanner{	position:relative; width:700px; margin:10px auto 20px ; text-align:center}
.middlecontent {width:100%;}
.content1{width:100%;text-align:center; padding-bottom:20px;  height:100%}
.formmain{width:700px;margin:20px auto;text-align: left;}
.footlink{text-align:right;}
.footer-msg{color:#000;	font-size:1.2em; line-height:1.5em; padding:20px 0px}
.foottxt{font-family: "Helvetica Neue Regular","HelveticaNeue Regular","Helvetica Neue","HelveticaNeue",Arial,Helvetica,sans-serif;color:#000 !important;	font-style: normal;font-size:1.2em; line-height:1.5em;text-decoration:none;color:#000;}
a:hover.foottxt {color: #000; text-decoration:underline}



@media (max-width:3066px){.wrap{width:100%; margin:auto}}

@media (max-width: 768px) { 
.broad { /*background-color:#FFFFFF;*/ opacity:0.9; width:85%; -moz-border-radius: 20px;border-radius: 20px; padding:4%; text-align:left; margin:auto; z-index:100; }
.wrap {	width:100%; }	
.topbanner {width:100%;	text-align:center; }	
.formmain{ width:95%; margin:auto; text-align:left}	
#footer-wrapper{vertical-align:bottom;display:block;overflow:hidden;zoom:1; float:left; width:100%; text-align:center;padding:0px; z-index:555;}	
.footlink{	width:100%;text-align:center; float:right}	
.footer-msg{color:#000;	 }
img{max-width:90%;}

}

@media (max-width: 568px) { 
.broad { /*background-color:#FFFFFF;*/ opacity:0.9; width:85%; -moz-border-radius: 20px;border-radius: 20px; padding:4%; text-align:left; margin:auto; z-index:100; }
.wrap {	width:100%; }	
.topbanner {width:100%;	text-align:center; }	
.formmain{ width:85%; margin:auto; text-align:left}	
#footer-wrapper{ width:100%; float:left ; display:block}
.foottxt{font-size:1.1em; line-height:1.5em;text-decoration:none;color:#000;}
.footer-msg{color:#000;	font-size:1.1em; line-height:1.5em; }

img{max-width:90%;}

label.desc {float: none !important}

}

@media (max-width:320px){
.broad { /*background-color:#FFFFFF;*/ opacity:0.9; width:85%; -moz-border-radius: 20px;border-radius: 20px; padding:4%; text-align:left; margin:auto; z-index:100; }
.wrap {	width:100%; }
.txt2{color:#000;font-size:0.9em;text-decoration:none;}
.txt3{font-size:22px;text-decoration:none;}
.topbanner {width:100%;	text-align:center;}	
.content1{	width: 100%; margin-left:auto; margin-right:auto;}	




	

}

/** add on 2015-05-20 **/
.errorBorder{
	border-color:red !important;
}