#container{
	width:650px;
	display: block;
	position: relative;
	/*background-color: #fdfce9;*/
	cursor: auto;
	/*border: 2px solid #efdb9f;*/
	-moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
	overflow:hidden;
}

#main {
	float:left;
	display: block;
	position: relative;
	width:700px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing:0.01em;
	text-rendering:optimizelegibility;
	cursor: auto;
}

#main form {
	margin:0px 0 0 0px;
	padding:0px 5px 20px 15px;
/*
    * top padding is 25px
    * right padding is 50px
    * bottom padding is 75px
    * left padding is 100px


	padding:0 0 20px;
	*/
}

#main form ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

#main form li{
	clear:both;
	margin:0;
	padding:0px 1% 9px;
}

.info {
	clear:both;
	margin:0 0 5px;
	
	position:relative;
	display:block;
}

.info h2 {
	clear:left;
	font-size:160%;
	font-weight:normal;
	margin:0 0 5px;
}

.form-group{top: -33px !important;}


.cstm_frmtitle {
	color:#555555;
	font-size:1.5em;
	line-height:1.5em;
	margin:0px;
}

.cstm_frmtitle2 {
	color:#000000;
	font-size:1.8em;
	line-height:1.5em;
	margin:0px;
}

.handle {
	height:82%;
	position:absolute;
	width:95%;
}

#formPreview li {
	clear:both;
	position:relative;
	margin:0 0 1px;
}

#formPreview li div {
	color:#444444;
	margin:0px 0px;
	padding:0;
	overflow: hidden;
	
}

#formPreview li div span {
	display:block;
	/*float:left;*/
	margin:0;
	width:100%;
}

#formPreview li span label {
	clear:both;
	color:#444444;
	display:block;
	font-size:1.5em;
	line-height:1.5em;
	/*margin:0;*/
	padding-top:5px;
	
}

#formPreview li.twoColumns div span {
	/* margin:0 5px 0 0;*/
	padding-left:5px;
	width:48%;
	float:left;
}
#formPreview li.threeColumns div span {
	/*margin:0 5px 0 0;*/
	padding-left:5px;
	width:30%;
	float:left;
}
#formPreview li.notStacked div span {
	/*margin:0 7px 0 0;*/
	padding-left:5px;
	width:auto;
	float:left;
}

#formPreview li.complex div span.full {
	margin:0;
}

#formPreview li.complex div span.left, #formPreview li.complex div span.right {
	margin:0;
	width:48%;
}

#formPreview li.complex div span {
	margin:0 0.3em 0 0;
	padding-bottom:12px;
	width:auto;
}

#formPreview li.complex div span.full input, 
#formPreview li.complex div span.full select, 
#formPreview li.complex div span.left input, 
#formPreview li.complex div span.right input, 
#formPreview li.complex div span.left select, 
#formPreview li.complex div span.right select {
	width:100%;
}

#formPreview li .datepicker {
	cursor:pointer !important;
	float:left;
	height:16px;
	margin:0.19em 5px 0 0;
	padding:0;
	width:16px;
}

#formPreview li.likert {
	clear:both !important;
	float:none !important;
	margin:0;
	padding:6px 1% 5px;
	width:auto !important;
}

#formPreview label.desc {
	overflow:hidden;
}

#formPreview .right {
	float:right;
}
label.cstm_frmchoice{
	color:#222222;
	display:block;
	font-size:100%;
	line-height:180%;
	margin: -20px 0 0 23px;
	/*padding:0 0 5px;*/
	padding:5px 10px 5px 0px;
	width:88%;	
}



label.desc {
	border:medium none;
	color:#000 ;
	display:block;
	font-size:1.5em;	
	line-height:1.5em;
	margin:0px 0px;
	padding:6px 0px;	
	
	float:left;
/* 	font-family: Arial, Helvetica, sans-serif; */
	width:200px;
}

span.req {
	color:red !important;
	display:inline;
	float:none;
	font-weight:bold;
	margin:0;
	padding:0;
}

span.shortname{
	width: auto;
	color:#444444;
	float:left;
	/*margin:0 0.3em 0 0;*/
	padding:0;
	
}

span.date{
	width: auto;
	color:#444444;
	float:left;
	/*margin:0 0.3em 0 0;*/
	padding:0;
	text-align: left;
	padding-right:3px;
}

span.time{
	width: auto;
	color:#444444;
	float:left;
	/*margin:0 0.3em 0 0;*/
	padding:0;
	text-align: center;
	padding-right:3px;
}

span.ampm{
	color:#444444;
	float:left;
	margin:0 0.3em 0 0;
	padding:0;
	padding-left: 7px;
	text-align: center;
}

span.symbol {
	font-size:120%;
	line-height:135%;
	float:left;
	padding-right: 4px;
}

input.small, select.small {
	width:25%;
}

input.medium, select.medium {
	width:100%;
}

input.large, select.large, textarea.textarea {
	width:96%;
}

textarea.small {
	height:5.5em;
}

textarea.medium {
	height:10em;
}

textarea.large {
	height:20em;
}

input.text, input.search, textarea.textarea,select.select {
	
	width: 90%;
	margin: 2px;
	padding: 5px 10px;
	background-color:#fff;
	border: 1px solid #d0d0d0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow:inset 0 0 5px #d0d0d0;

	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input.text:focus, input.search:focus, textarea.textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}


input.text, input.search, input.file, textarea.textarea, select.select {
	color:# 999;
	font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
	font-size:1.5em;
	margin:0;
	
}

input.checkbox, input.radio {
	display:block;
	height:13px;
	margin:5px 2px 0px 2px;
	padding:0;
	width:13px;
}

.full {
	width:96% !important;
}

.half {
	width:48% !important;
}

.left {
	float:left;
}

.likert table {
	background:none repeat scroll 0 0 #FFFFFF;
	border-color:#DEDEDE #DEDEDE ;
	border-style:solid solid none;
	border-width:1px 1px medium;
	margin:0 0 0.9em;
	/*width:100%;*/
}

.likert caption {
	color:#222222;
	font-size:95%;
	line-height:135%;
	padding:5px 0 0.5em;
	text-align:left;
}

.likert thead td, .likert thead th {
	background-color:#E6E6E6;
}

.likert thead td {
	font-size:85%;
	padding:10px 6px;
}

.likert tbody th {
	padding:8px;
	text-align:left;
}

.likert th, .likert td {
	border-bottom:1px solid #DEDEDE;
}

.likert td {
	border-left:1px solid #CCCCCC;
	padding:4px 6px;
	text-align:center;
}
.likert tbody th label {
	
	font-size:95%;
	font-weight:bold;
}

.likert tbody td label {
	color:#565656;
	display:block;
	font-size:85%;
}

.likert tbody tr.alt td, .likert tbody tr.alt th {
	background-color:#F5F5F5;
}

.likert tbody tr:hover td, .likert tbody tr:hover th {
	background-color:#FFFFCF;
}

.likert input {
	margin:2px 0;
	padding:0;
}

.col1 td {
	width:30%;
}

.col2 td {
	width:25%;
}

.col3 td {
	width:18%;
}

.col4 td {
	width:14.5%;
}

.col5 td {
	width:12%;
}

.col6 td, .col7 td {
	width:10%;
}

.col8 td, .col9 td, .col10 td {
	width:6.5%;
}

.col11 {
	width:6%;
}

.scfSubmitButtonBorder input {float:left;border:0;background:#000;padding:6px 25px;color:#fff;font-size:1.8em;}
.scfSubmitButtonBorder input:hover {background:#999999;}
.scfSubmitButtonBorder { float:left; clear:both}
.scfSectionContent .scfSubmitButtonBorder {position: static;width:auto;margin-left:145px;}
.scfRadioButtonListGeneralPanel .scfRadioButtonList {width:auto;}
.scfRadioButtonListGeneralPanel .scfRadioButtonList label {margin:0 15px 0 5px;}
.scfCheckboxBorder {margin:5px 0 15px 0;}
.scfCheckbox input {margin:0 5px 0 0;}

.bd { width:44% !important}
.bd2 { width:40% !important; margin-left:10px !important}
@media (max-width: 540px) { 
.form-group{top: 0px !important;}
.bd { width:90% !important}
.bd2 { width:90% !important; margin-top:10px !important; margin-left:0px !important}
span.shortname{
	width: 100% !important;
	color:#444444;
	float:left;
	/*margin:0 0.3em 0 0;*/
	padding:0;
	
}

}

/** new **/
.broad{
	background-color: #ddd;
}
.fullWidth{
	width:100% !important;
}
.birthSelect{
	width:87% !important;
}
lable.desc{
	font-family:"微软雅黑","黑体",Arial,Helvetica,sans-serif;
}

/* ivan style for areacode */
select {
        height:32px;
        line-height:32px;
    } 
select::-moz-focus-inner { /*Remove button padding in FF*/ 
    border: 0;
    padding: 0;
}
@-moz-document url-prefix() { /* targets Firefox only */
    select {
/*         padding: 8px 0!important; */
  height:32px;
    }
}
 
@media screen\0 { /* IE Hacks: targets IE 8, 9 and 10 */        
    select {
        height:32px;
        line-height:32px;
    }     
}

.withAreaCode {
	width:75% !important;
}