img {
    width: 100%;
    height: auto;
}

.drop-placeholder {
    background-color: #000090;
}

.row, .column {
    min-height: 50px;
    border: 1px dotted #004276;
}

.ui-state-highlight {
    width: 100%;
    height: 5px;
    background-color: #000090;
    margin: 5px;
    border-radius: 10px;
}
#grid{
    width: 100%;
    height: 100%;
}
.dropItem{
    width: 100%;
    height: 35px;
    background-color: #34495e;
    position: absolute;
    color: white;
    font-size: 20px;
    text-align: center;
}
.info-item{
    position: absolute;
    display: none;
    background-color: #000099;
    opacity: 0.8;
    padding: 0 3px 0 3px;
    color: #ffffff;
    font-size: 12px;
    height: 16px;
}
.remove-item{
    position: absolute;
    display: none;
    background-color: #ff0000;
    opacity: 0.8;
    padding: 0 3px 0 3px;
    color: #ffffff;
    font-size: 12px;
    height: 16px;
}
.remove-item a{
    color: #ffffff;
    font-size: 12px;
    cursor: pointer;
}
.hover, .img-responsive.hover, .row.hover, .column.hover,.thumbnail a>img.hover, .thumbnail>img.hover{
    border: 1px solid #000099;
}

.edit-item, .img-responsive.edit-item, .row.edit-item, .column.edit-item,.thumbnail a>img.edit-item, .thumbnail>img.edit-item{
    border: 1px solid #000099;
}

.row, p, h1, h2, h3, h4, h5, h6, img, .img-responsive, a, button,.thumbnail a>img, .thumbnail>img{
    border: 1px solid transparent;
}

body {
    overflow: hidden;
    height: auto;
}
.buttons-block.out .dropdown .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.buttons-block.out .dropdown .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
.content-center{
    max-width: 900px;
    left: 50%;
    margin-left: -450px;
}

#template-content{
    padding: 0;
}

.xgate-template-editor .grid-stack-item-edit.no-edit{
    display: none;
    float: left;
}

.xgate-template-editor .grid-stack-item-edit{
    display: block;
    float: left;
}

.xgate-template-editor .grid-stack-item-link{
    display: block;
    float: left;
}
/*END - EDIT BUTTON IN ITEM*/

/*SAVE BUTTON IN ITEM*/
.xgate-template-editor .grid-stack-item-save.no-save{
    display: none;
    float: left;
}

.xgate-template-editor .grid-stack-item-save{
    display: block;
    float: left;
}
/*END - SAVE BUTTON IN ITEM*/


/*BUTTONS BLOCK IN ITEMS*/
/*#xgate-template-editor.edit-content .grid-stack-item:not(.edit-item) .buttons-block{*/
/*display: none;*/
/*}*/

.buttons-block .move{

}

.buttons-block.out .dropdown,
.buttons-block.in .dropdown{
    float: left;
}

.xgate-template-editor-header{
    padding: 0;
}

/*BUTTONS BLOCK IN HEADER*/
.xgate-template-editor .navbar{
    margin-bottom: 0;
    min-height: 0;
}

.xgate-template-editor .intro-header .buttons-block{
    display: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.xgate-template-editor .intro-header:hover .buttons-block{
    display: block;
    z-index: 999999;
}

.xgate-template-editor .intro-header{
    position: relative;
    height: 250px;
}


.xgate-template-editor .item-image{
    background: url('/img/uploadImg.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/*.xgate-template-editor .image-settings-links{
    display: none;
}

.xgate-template-editor .image-settings-links.show{
    display: block;
}*/

.xgate-template-editor .item-image.gallery-image{
    background: none;
}

.xgate-template-editor .item-image.gallery-image img{
    width: 100%;
    height: auto;
}

.xgate-template-editor .item-map{
    width: 100%;
    height: 300px;
    /*height: 100%;*/
}

.xgate-template-editor .item-over{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.xgate-template-editor .item-youtube,
.xgate-template-editor .item-youtube iframe{
    width: 100%;
    height: 100%;
    position: relative;
}

a.xgate-template-editor-tools{
    width: 100px;
    height: 42px;
    margin: 2px;
    font-size: 10px;
}

.bg_dark{
    background: #eff8f8;
}

.bg_green{
    background-color: #169c78;
    color: white;
}

.bg_red{
    background-color: #9c1b31;
    color: white;
}

.bg_blue_light {
    background-color: #41b6ab;
    color: white;
}

.bg_blue {
    background-color: #34495e;
    color: white;
}

.bg_orange {
    background-color: #f05442;
    color: white;
}

.bg_purple {
    background-color: #b163a3;
    color: white;
}

.bg_black {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.bg_img_bg_parallax{
    background-size: cover;
    background-image: url("/upload/bg/parallax_bg.jpg");
}
.bg_img_bg_business_guy{
    background-size: cover;
    background-image: url("/upload/bg/business_guy.jpg");
}
.bg_img_bg_flower_field{
    background-size: cover;
    background-image: url("/upload/bg/flower_field.jpg");
}
.bg_img_bg_landscape{
    background-size: cover;
    background-image: url("/upload/bg/landscape.jpg");
}
.bg_img_bg_mountains{
    background-size: cover;
    background-image: url("/upload/bg/mountains.jpg");
}
.bg_img_bg_greenfields{
    background-size: cover;
    background-image: url("/upload/bg/greenfields.jpg");
}
.bg_img_bg_aqua{
    background-size: cover;
    background-image: url("/upload/bg/aqua.jpg");
}
.bg_img_bg_baby_blue{
    background-size: cover;
    background-image: url("/upload/bg/baby_blue.jpg");
}
.bg_img_bg_black{
    background-size: cover;
    background-image: url("/upload/bg/black.jpg");
}
.bg_img_bg_color_splash{
    background-size: cover;
    background-image: url("/upload/bg/color_splash.jpg");
}
.bg_img_bg_mango{
    background-size: cover;
    background-image: url("/upload/bg/mango.jpg");
}
.bg_img_bg_orange_red{
    background-size: cover;
    background-image: url("/upload/bg/orange_red.jpg");
}
.bg_img_bg_flower{
    background-size: cover;
    background-image: url("/upload/bg/flower.jpg");
}
.bg_img_bg_velour{
    background-size: cover;
    background-image: url("/upload/bg/velour.jpg");
}
.bg_img_bg_wood{
    background-size: cover;
    background-image: url("/upload/bg/wood.jpg");
}
.bg_img_bg_yellow_green{
    background-size: cover;
    background-image: url("/upload/bg/yellow_green.jpg");
}
.bg_custom_img{
    background-size: cover;
}

.drop-item{
    padding: 10px 12px;
    text-align: center;
    border-radius: 2px;
}

.drop-item-insert-up{
    position: absolute;
    left: 0;
    /*margin-left: -77px;*/
    top: 0;
    width: 155px;
    height: 40px;
    z-index: 20;
}

.drop-item-insert-down{
    left: 0;
    /*margin-left: -77px;*/
    bottom: 0;
    width: 155px;
    height: 40px;
    position: absolute;
    z-index: 20;
}

.drop-item-insert-up.up-row{
    top: 50px;
    left: 50%;
    margin-left: -77px;
    z-index: 21;
}

.drop-item-insert-down.down-row{
    bottom: 50px;
    left: 50%;
    margin-left: -77px;
    z-index: 21;
}

.code-import{
    width: 100%;
    height: 345px;
}

.xgate-grid{
    padding: 0px;
    margin: 0px;
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
    background: transparent url("/img/template-editor/grid.png") repeat left top;
    z-index: 1;
    opacity: 0.3;
    filter: alpha(opacity=30);
}
.iconFloatRight{
    float: right;
    padding: 2px;
    margin-left: 3px;
}
.iconFloatLeft{
    float: left;
    padding: 2px;
}
.iconFloatTop{
    position: absolute;
    top: 0 !important;
    left: calc(50% - 7px);
}
.iconFloatBottom{
    position: absolute;
    bottom: 0 !important;
    left: calc(50% - 7px);
    top: initial;
}
div.mce-tinymce{
    display: none !important;
}
ul, ol{
    padding-left:  25px;
}
.jumbotronNoBG{
    background: none;
}

/*
Context menu*/
.contMenu {
    background: #ddd;
    width: 170px;
    height: auto;
    position: fixed;
    -webkit-box-sizing: border-box;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 0 19px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0 19px -2px rgba(0,0,0,0.75);
    box-shadow: 1px 0 19px -2px rgba(0,0,0,0.75);
    display: none;
    z-index: 999;
}
.contMenu ul {
    padding: 0;
    margin: 0;
}
.contMenu ul li {
    list-style: none;
    width: 100%;
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    color: #fff;
    border-top: 1px #3E3D3D solid;
    padding: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 15px;
    cursor: pointer;
}
.contMenu ul li:hover {
    background: #337ab7;
    border-color: #2e6da4;
}

#SelParentElem:hover ul {
    display: block;
}
#SelParentElem {
    border-bottom: 1px #847F7F solid;
}

#secondContMenu {
    top: 0;
    position: absolute;
    width: inherit;
    left: 170px;
    display: none;
}
#secondContMenu li {
    height: 31px;
    padding-left: 7px;
    padding-top: 0px;
    line-height: 0px;
    margin-top: 0px;
}
#secondContMenu li i,
#secondContMenu li p {
    display: inline-block;
}
#secondContMenu li p {
    padding-left: 5px;
}
.ketHot{

}