.ui-state-highlight {
    width: 100%;
    height: 5px;
    background-color: #000090;
    margin: 5px;
    border-radius: 10px;
}
.responsive {
    /*float: left;*/
    /*margin-left: 14px;*/
    /*padding: 7px 0;*/
    margin-top: 7px;
    height: 20px;
}

.responsive a {
    float: left;
    margin: 0 0px 0 0px;
    padding-right: 6px;
    padding-left: 6px;
    position: relative;
}
.device-type{
    margin-top: 7px;
    position: absolute;
    left: calc(50% - 30px);;
}
.device-type a{
    /*float: left;
    margin: 0 10px 0 0px;
    padding-right: 6px;
    padding-left: 6px;
    position: relative;*/
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 999;
    background: #3a3633;
}

.sidebar-nav {
    padding: 9px 0;
}



#right-panel .dd3-handle{
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    border: 0px;
}
#right-panel .panel-heading{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#menu-editor{
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
}

.cancel-drop{
    display: none;
}

.tools-s a,
.tools-s-i a,
a.xgate-template-editor-tools{
    width: 100px;
    height: 42px;
    margin: 2px;
    font-size: 10px;
}

.navbar-toggle .icon-bar{
    background: #000000;
}

.paddingInTab{
    padding: 10px
}

.grid-stack-item-content h1,
.grid-stack-item-content h2,
.grid-stack-item-content h3,
.grid-stack-item-content h4,
.grid-stack-item-content h5,
.grid-stack-item-content h6
{
    margin: 0;
    letter-spacing: 0;
    font-weight: normal;
}



.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu:not(.sub-menu2),
.dropdown-menu.sub-menu li:hover .sub-menu2{
    visibility: visible;
    display: block;
}

.menu .dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

#xgate-template-editor-body{
    padding: 0;
    background: #4C4C4C;
}
.xgate-template-editor{
    margin-bottom: 20px;
    padding: 0;
}

.xgate-template-editor #main{
    margin-left: 55px;
    margin-right: 244px;
    padding-bottom: 0;
    margin-top: 43px;
}

.xgate-template-editor .template-content{
    min-height: 300px;
    margin: 0 auto;
}

/*LOADER START*/
.xgate-template-editor .loader.start .background{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999999;
    background-color: #000000;
    opacity: 0.5;
}

.xgate-template-editor .loader.start .icon{
    background: url('/img/template-editor/loader.gif');
    height: 128px;
    left: -64px;
    margin-left: 50%;
    margin-top: -64px;
    position: fixed;
    top: 50%;
    width: 128px;
    z-index: 99999999;
}
/*LOADER END*/

/*TOOLS START*/
.xgate-template-editor .tools{
    width: 200px;
    position: fixed;
    z-index: 9999;
}

.xgate-template-editor .tools .tools-disabled{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.xgate-template-editor .tools.disabled .tools-disabled{
    display: block;
    opacity: 0.7;
    background-color: #ffffff;
}
/*TOOLS END*/

.menu a{
    cursor: pointer;
}

#modalItemSettings div[data-settings="off"]{
    display: none;
}
#modalItemSettings div[data-settings="on"]{
    display: block;
}

#left-panel{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 904;
    padding-top: 49px;
    width: 50px;
    display: block;
    overflow: hidden;
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    min-height: 100%;
}


#left-panel nav>ul>li {
    border-bottom: 1px solid #1A1817;
    border-top: 1px solid #525151;
    position: relative;
    overflow: visible;
    cursor: pointer;
}

#left-panel nav>ul>li>a{
    padding: 10px 10px 10px 16px;
}

#left-panel nav>ul>li.active{
    background-color: #525151;
}

#pages-panel{
    position: fixed;
    top: 0;
    left: 50px;
    border-left: 3px solid #525151;
    z-index: 904;
    padding-top: 49px;
    width: 240px;
    display: none;
    overflow: hidden;
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    min-height: 100%;
    color: #ffffff;
    font-size: 11px;
}
#insert-panel{
    position: fixed;
    top: 0;
    left: 50px;
    border-left: 3px solid #525151;
    z-index: 904;
    padding-top: 49px;
    width: 240px;
    display: none;
    /*overflow: hidden;*/
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    min-height: 100%;
    color: #ffffff;
    font-size: 11px;
}
#menu-panel{
    position: fixed;
    top: 0;
    right: 220px;
    border-left: 3px solid #525151;
    z-index: 904;
    padding-top: 49px;
    width: 220px;
    display: none;
    overflow: hidden;
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    min-height: 100%;
    color: #ffffff;
    font-size: 11px;
}

#pages-panel .panel-header,
#pages-panel-np .panel-header,
#insert-panel .panel-header{
    height: 40px;
    background-color: #525151;
    border-bottom: 1px solid #1A1817;
}
.label-block{
    font-weight: bold;
    font-size: 13px;
}
.panel-name,
#pages-panel .panel-name,
#pages-panel-np .panel-name{
    padding: 10px;
    font-size: 14px;
    float: left;
}
.headingImgPopup{
    padding: 10px;
    font-size: 14px;
    float: right;
}
.panel-button,
#pages-panel .panel-button,
#pages-panel-np .panel-button{
    float: right;
    padding: 4px;
}
#pages-panel li a.page{
    cursor: pointer;
}
.panel-body{
    padding: 0;
    color: #fff;
    /*overflow: scroll;*/
    /*max-height: 700px;*/
}

.panel-body .panel-body-form ul>li,
.panel-body .panel-body-form ul>li .label{
    padding: 10px;
    font-size: 12px;
    color: #fff;
}

.panel-body .panel-body-form ul>li .toggle{
    color: #fff;
    font-size: 12px;
}

.panel-body .panel-body-form ul>li .label{
    width: 100px;
}

.panel-body-form input,
.panel-body-form textarea{
    width: 280px;
    height: 35px;
    color: #000;
}

.panel-body ul>li {
    border-bottom: 1px solid #1A1817;
    border-top: 1px solid #525151;
    position: relative;
    overflow: visible;
}
.panel-close{
    cursor: pointer;
}
.panel-body.tools-s ul>li,
.tools-s-i ul>li{
    padding: 2px;
}
.panel-body ul>li{
    clear: both;
    list-style-type: none;
}
.panel-body ul>li>a.page{
    width: 130px;
}
.panel-body ul>li>a,
.tools-s-i ul>li>a{
    padding: 10px 10px 10px 16px;
}

.panel-body ul>li span{
    /*margin-left: 5px;*/
}
.panel-body .pages-edit-button{
    float: right;
    padding: 10px;
}
.panel-body .pages-edit-button a{
    padding: 0;
    cursor: pointer;
    margin-left: 5px;
}

#pages-panel-np{
    position: fixed;
    top: 0;
    left: 290px;
    border-left: 3px solid #525151;
    z-index: 999;
    padding-top: 49px;
    width: 420px;
    display: none;
    overflow: hidden;
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    min-height: 100%;
    color: #ffffff;
    font-size: 11px;
}
#pages-panel-np .code-editor{
    width: 380px;
    height: 300px;
}
#menu-panel-np{
    position: fixed;
    top: 0;
    right: 241px;
    border-left: 3px solid #525151;
    z-index: 904;
    padding-top: 49px;
    width: 420px;
    display: none;
    overflow: hidden;
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    min-height: 100%;
    color: #ffffff;
    font-size: 11px;
}
#menu-panel-img{
    position: fixed;
    top: 0;
    right: 241px;
    border-left: 3px solid #525151;
    z-index: 904;
    padding-top: 49px;
    width: 476px;
    display: none;
    overflow: hidden;
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    min-height: 100%;
    color: #ffffff;
    font-size: 11px;
}

#menu-panel-img .jarviswidget>header{
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    border:none;
}

#right-panel .jarviswidget header .nav-tabs>li.active>a, .jarviswidget header .nav-tabs>li.active>a:focus, .jarviswidget header .nav-tabs>li.active>a:hover {
    background-color: #6F6F6F;
}
#menu-panel-img .jarviswidget header .nav-tabs>li.active>a, .jarviswidget header .nav-tabs>li.active>a:focus, .jarviswidget header .nav-tabs>li.active>a:hover {
    background-color: #6F6F6F;
}

#menu-panel-img .jarviswidget header:first-child .nav-tabs li a {
    color: #eee;
}

.dropzone {
    min-height: 80vh;
}

.greyBackground{
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%)!Important;
}

.noBorder{
    border: none!Important;
}

#right-panel nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #1F1F1F;
}

#previewPopUp{
    position: fixed;
    top: 0;
    right: 241px;
    border-left: 3px solid #525151;
    z-index: 904;
    padding-top: 49px;
    width: 620px;
    display: none;
    overflow: hidden;
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    /*min-height: 60%;*/
    color: #ffffff;
    font-size: 11px;
}

#imgPopup{
    position: fixed;
    bottom: 337px;
    right: 20px;
    border-width:2px 3px 2px 3px;
    border-style: solid;
    border-left-color: #525151;
    border-right-color: #525151;
    z-index: 904;
    width: 210px;
    display: none;
    overflow: hidden;
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    color: #ffffff;
    font-size: 11px;
    border-color: #2e6da4;
}

#right-panel{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 904;
    padding-top: 49px;
    width: 241px;
    display: block;
    overflow: hidden;
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    min-height: 100%;
    color: #ffffff;
    font-size: 11px;
}

#right-panel .info-page{
    padding: 10px;
    clear: both;
    border-bottom: 1px solid #1A1817;
    border-top: 1px solid #525151;
}

#right-panel .devices{
    padding: 10px;
    border-bottom: 1px solid #1A1817;
    border-top: 1px solid #525151;
    height: 88px;
}
#right-panel .anker-page{
    padding: 10px;
    border-bottom: 1px solid #1A1817;
    border-top: 1px solid #525151;
}

#right-panel .panel-title {
    font-size: 12px;
}

.marginMenuFloat{
    margin-left:   20px;
}

.colorWhite{
    color: #fff!Important;
}

.marginButom{
    margin-bottom: 20px!Important;
}

.preview {
    float: left;
    width: 65px;
    min-height: 64px;
    max-height: 64px;
    text-align: center;
    overflow: hidden;
    margin: 5px;
    font-size: 0;
    line-height: 0;
    position: relative;
    background-color: #393939;
    box-shadow: 0 1px 0 #535353;
    border: 1px solid #272727;
    border-radius: 2px;
    padding: 1px;
    cursor:pointer;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    /*margin: 10px;*/
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.smart-form .label {
    display: block;
    /*   margin-bottom: 6px; 
       line-height: 19px; */
    font-weight: 400;
    font-size: 10px;
    color: #E8E8E8;
    text-align: left;
}
#collapse2 li{
    padding-bottom: 5px;
}
.anker-page .label{
    font-size: 100%;
    padding: 0px 10px 0 0px;
}

#right-panel .item-editor .nav-tabs{
    border-bottom: 1px solid #525151;
}

#right-panel .item-editor .nav-tabs>li.active>a{
    background-color: #4b4b4b;
}

#right-panel .item-editor .nav-tabs>li span{
    color: #fff;
}

#right-panel .tab-pane{
    /*overflow: scroll;*/
    max-height: 100%;
}
#item-editor-tab-s4{

}

#right-panel input{
    color: #000;
}

#right-panel .smart-form .toggle {
    font-size: 12px;
}

#right-panel .padding-10 {
    padding: 0px 0px 0px 5px!important;
    /*padding-left: 5px;*/
}
#right-panel #collapse2 li {
    padding-bottom: 0px;
}



a.desktop:hover, a.desktop.active {
    background-position: 0px -20px;
}
a.desktop.active {
    background-position: 0px -20px;
}

.device-type a.active i, .device-type a:hover i{
    color:#fff;
}

.device-type a i{
    color: #888;
    font-size: 30px;
    margin: 3px;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

.accordion .panel-heading a { cursor: pointer; }
.cursor-move { cursor: move; }

#accordion .panel-heading, #accordion2 .panel-heading{
    border-bottom: 1px solid #1A1817;
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
}

#accordion .collapsed, #accordion .panel-heading a, #accordion2 .collapsed, #accordion2 .panel-heading a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}
#accordion .collapsed:hover, #accordion .panel-heading a:hover, #accordion2 .collapsed:hover, #accordion2 .panel-heading a:hover{
    color: #a8a8a8;
}

#accordion .panel-collapse, #accordion2 .panel-collapse{
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
}

#accordion .panel, #accordion2 .panel{
    border: hidden;
}

#accordion .panel-body, #accordion2 .panel-body{
    order-bottom: 1px solid #1A1817;
    border-top: 1px solid #525151;
}

.dd3-handle:before{
    content: "\f0b2";
}
#accordion2 .panel{
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
}
#accordion2 .panel-body{
    padding: 10px;
}

#accordion .dd3-content, #accordion2 .dd3-content{
    border: none;
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    font-size: 12px;
    color: #a8a8a8;
}

#accordion .dd3-content:hover, #accordion2 .dd3-content:hover {
    color: #FFF;

}
#accordion .deleteMenu, #accordion2 .deleteMenu  {
    color: #a8a8a8;
}
#accordion .deleteMenu:hover, #accordion2 .deleteMenu:hover {
    color: #FFF;
}
#accordion label, #accordion2 label  {
    color: #FFF;
}

.tabBtnSM{
    width: 40px!Important;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: linear-gradient(#747474, #6f6f6f);  
    /*background-image: none;*/
    border: 1px solid #5f5f5f;
    border-radius: 4px;
    color: #fff;

}

.tabBtnSM:hover {
    background:  linear-gradient(#656565, #000000); 
}
.tabBtnSM.selectedDisplay{
    background:  linear-gradient(#656565, #000000);
    border: 1px solid #5f5f5f;
}
.top{
    border: 1px solid #3A3633!Important;
}


.tabBtnShadow{
    width: 70px!Important;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: linear-gradient(#747474, #6f6f6f);  
    /*background-image: none;*/
    border: 1px solid #5f5f5f;
    border-radius: 4px;
    color: #fff;

}

.tabBtnShadow:hover {
    background:  linear-gradient(#656565, #000000); 
}
.tabBtnShadow.selectedShadowType{
    background:  linear-gradient(#656565, #000000);
    border: 1px solid #5f5f5f;
}

.tabShadowGroup{
    position: relative;
    left: 50px;
    top: 5px;
    display: inline-block;
    vertical-align: middle;
}

.colorpickerShadow{
    position: relative;
    right: 100px;    
}
.customSlider{
    position: relative;
    top: 30px;
    width: 50%;  
}
.customSlider .ui-slider-horizontal{
    height: 0.4em!Important;
}
.customSlider .ui-widget{
    font-size: 0.8em!Important;
}

/*.tooltip-inner{
    padding: 0px!Important;
}*/

.smallBtn{
    width: 65px!Important;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #eee;
    border-radius: 4px;
    color: #333;

}

.smallBtn:hover {
    color: #fff;
    background-color: #868B90;
    border-color: #868B90;
}
.activeSmallBtn{
    color: #fff;
    background-color: #868B90;
    border-color: #868B90;
}
.middleBtn{
    width: 85px!Important;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #eee;
    border-radius: 4px;
    color: #333;

}

.middleBtn:hover {
    color: #fff;
    background-color: #868B90;
    border-color: #868B90;
}
.activeMiddleBtn{
    color: #fff;
    background-color: #868B90;
    border-color: #868B90;
}

//margin padding box
.marginBox{
    width: 240px;
    padding: 15px;
}

.box{
    width: 127px;
    height: 90px;
    margin-left: 50px;
    /*margin-top: 40px;*/
    border: 3px dashed #A7A7A7;
}

.WithSpinnerEditToolTop{
    height: 29px;
    margin-top: 0px; 
    position: relative;
}

.WithSpinnerEditToolBottom{
    height: 29px;
    margin-top: 8px; 
    position: relative;
}
.WithSpinnerEditToolLeft{
    height: 0px;
    margin-top: 0px; 
    position: relative;
    left: 16px;
}
.WithSpinnerEditToolRight{
    height: 0px;
    margin-top: 0px; 
    position: relative;
}
.WithSpinnerEditToolTopInner{
    height: 0px;
    margin-top: 20px; 
    position: relative;
}
.WithSpinnerEditToolButtomInner{
    height: 0px;
    margin-top: 60px; 
    position: relative;
}
.WithSpinnerEditToolLeftInner{
    height: 0px;
    margin-top: 30px; 
    position: relative;
}
.WithSpinnerEditToolRightInner{
    height: 0px;
    margin-top: 0px; 
    position: relative;
    left: 18px;
}
.LineHeightSpinEditTool {
    margin-top: 0px;
    position: absolute;
    right: 85px;
    top: 0px;
}
.LineHeightSpinEditToolBottom {
    /*margin-top: 0px;*/
    position: absolute;
    right: 85px;
    top: 4px;
}
.LineHeightSpinEditToolLeft {
    margin-top: 0px;
    position: absolute;
    right: 180px;
    top: -85px;
}
.LineHeightSpinEditToolRight {
    margin-top: 0px;
    position: absolute;
    right: 0px;
    top: -85px;
}
.LineHeightSpinEditToolInner {
    margin-top: -12px;
    position: absolute;
    right: 24px;
    top: 0px;
}
.LineHeightSpinEditButtomlInner {
    margin-top: -12px;
    position: absolute;
    right: 24px;
    top: 12px;
}
.LineHeightSpinEditLeftInner {
    margin-top: -12px;
    position: absolute;
    right: 62px;
    top: -11px;
}
.LineHeightSpinEditRightInner {
    margin-top: -12px;
    position: absolute;
    right: 57px;
    top: -37px;
}
.spinnerFullEditTool {
    width: 60px;
    margin-left: 13px;
    /*    margin-top: 46px;
        position: relative;*/
    padding-top: 0;
    height: 0px;
}
#inputColorPickerShadowBox{
    padding-right: 0px!Important;
    width: 110px;
}


.WithSpinnerEditToolTop input, .WithSpinnerEditToolBottom input, .WithSpinnerEditToolLeft input, .WithSpinnerEditToolRight input, .WithSpinnerEditToolTopInner input, .WithSpinnerEditToolButtomInner input, .WithSpinnerEditToolLeftInner input, .WithSpinnerEditToolRightInner input{
    width: 32px;
    margin-top: -7px;
    margin-left: 3px;
    padding-left: 0px;
    color: #fff!Important;
    background: linear-gradient(to right,#3a3633 93%,#3A3633 100%);
    border: 1px #3A3633 solid; 
    height: 30px;
    font-size: 12px;
    padding-right: 0px;
    text-align: center;
}

.spinnerFullEditTool .arrowContrlEditTool {
    position: absolute;
    top: -18px;
    right: 30px;
    color: #fff;
    font-size: 14px;
    height: 170%;
    width: 15px;
}

.spinnerFullEditTool .arrowContrlEditTool div:nth-child(1) {
    text-align: center;
    margin-left: -6px;
    margin-top: 7px;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 100%;
}

.spinnerFullEditTool .arrowContrlEditTool div:nth-child(2) {
    height: 100%;
    margin-left: 0px;
    margin-top: 24px;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.wrapperHiddenPositionSettings{
    margin-left: 20px;
    margin-top: 15px;
    display: none;
}

.positionFloatIcon{
    width: 105px;
    float: left;
}
.positionZIndex{
    margin-top: 5px;
    position: relative;
    margin-left: 119px;
}


.marginLable{
    position: absolute;
    height: 0px;
    top: 38px;
    left: 157px;
}
.paddingLable{
    position: absolute;
    height: 0px;
    top: 58px;
    right: 81px;
}

.pxIconEditTool {
    position: absolute;
    top: 6px;
    right: 12px;
    opacity: 0.3;
}

.twoCol {
    background: url('/img/collumns/twocol.png');
    /*    background-size: cover;
        z-index: 888;*/
}

#linktabImg{
    margin-top: 20px;
}
.ligthBar{
    margin-top: 20px;
}

#linktabImg .radio i, #linktab .radio i{
    margin-top: 25px
}

.ng-hide{display: none;}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    color: #5A6164;
}

#menuHeader{
    height: auto!Important;
}


/*.navbar-nav>li{
    width: 0%!Important;
}*/

.pageDetails{
    display: none;
}
.marginEditButton{
    margin-right: 3px;
    margin-left: 3px;
}

.modal{
    z-index: 9998;
}



/*END - BUTTONS BLOCK IN HEADER*/

/*DEFAULT BUTTONS BLOCK*/
/*.xgate-template-editor .buttons-block .btn {*/
/*font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
/*text-transform: uppercase;*/
/*font-size: 14px;*/
/*font-weight: 800;*/
/*letter-spacing: 1px;*/
/*border-radius: 0;*/
/*padding: 5px 5px;*/
/*}*/
.selectPicture .selected{
    border: 4px solid #5D98CC!Important;
}
.selectPicture-Img .selected{
    border: 4px solid #5D98CC!Important;
}
.selectPicture img{
    border: none;
}

.imageEditButton{
    display: none;
    position: absolute;
    left: 90%;
}

.image-blk:hover .imageEditButton{
    display: block;
}

.custom-label{
    color: #000;
}

.superbox-current-img {
    max-width: 50%!Important;
}


.savePageChanges{
    padding: 6px 12px;
}
@media (min-width: 992px){.ChangeImageOnHeaderModal {width: 1400px;}}
@media (max-width: 500px){#ribbon {display: none;}}

.bg_dark{
    background: #eff8f8;
}

.bg_green{
    background-color: #169c78;
    color: white;
}

.bg_red{
    background-color: #9c1b31;
    color: white;
}

.bg_blue_light {
    background-color: #41b6ab;
    color: white;
}

.bg_blue {
    background-color: #34495e;
    color: white;
}

.bg_orange {
    background-color: #f05442;
    color: white;
}

.bg_purple {
    background-color: #b163a3;
    color: white;
}

.bg_black {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.bg_img_bg_parallax{
    background-size: cover;
    background-image: url("/upload/bg/parallax_bg.jpg");
}
.bg_img_bg_business_guy{
    background-size: cover;
    background-image: url("/upload/bg/business_guy.jpg");
}
.bg_img_bg_flower_field{
    background-size: cover;
    background-image: url("/upload/bg/flower_field.jpg");
}
.bg_img_bg_landscape{
    background-size: cover;
    background-image: url("/upload/bg/landscape.jpg");
}
.bg_img_bg_mountains{
    background-size: cover;
    background-image: url("/upload/bg/mountains.jpg");
}
.bg_img_bg_greenfields{
    background-size: cover;
    background-image: url("/upload/bg/greenfields.jpg");
}
.bg_img_bg_aqua{
    background-size: cover;
    background-image: url("/upload/bg/aqua.jpg");
}
.bg_img_bg_baby_blue{
    background-size: cover;
    background-image: url("/upload/bg/baby_blue.jpg");
}
.bg_img_bg_black{
    background-size: cover;
    background-image: url("/upload/bg/black.jpg");
}
.bg_img_bg_color_splash{
    background-size: cover;
    background-image: url("/upload/bg/color_splash.jpg");
}
.bg_img_bg_mango{
    background-size: cover;
    background-image: url("/upload/bg/mango.jpg");
}
.bg_img_bg_orange_red{
    background-size: cover;
    background-image: url("/upload/bg/orange_red.jpg");
}
.bg_img_bg_flower{
    background-size: cover;
    background-image: url("/upload/bg/flower.jpg");
}
.bg_img_bg_velour{
    background-size: cover;
    background-image: url("/upload/bg/velour.jpg");
}
.bg_img_bg_wood{
    background-size: cover;
    background-image: url("/upload/bg/wood.jpg");
}
.bg_img_bg_yellow_green{
    background-size: cover;
    background-image: url("/upload/bg/yellow_green.jpg");
}
.bg_custom_img{
    background-size: cover;
}



#toolbarLocation .mce-panel{
    background: none;
}

.non-select-tool{
    display: block;
}
.selected-tool .non-select-tool{
    display: none;
}
.tool-in-panel{
    display: none;
}
#item-editor-content{
    height: 800px;
}
span.glyphicon.glyphicon-remove.imgPopupClose:hover {
    color:#d9534f;
    cursor: pointer;
}

#activePrewiewImage{
    border: 1px #d9534f solid;
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -ms-transition:all 0.2s;
    -o-transition:all 0.2s;
    transition:all 0.2s;

}
#activePrewiewImageBord{
    border: 1px #d9534f solid;
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -ms-transition:all 0.2s;
    -o-transition:all 0.2s;
    transition:all 0.2s;
}

#header div.save-page{
    float: right;
    padding: 7px;
}
.disabled{
    pointer-events: none;
}


.iconOnPrew{
    position: absolute;
    color: #337ab7;
    font-size: 14px;
    cursor: pointer;
    /* right: 3px; */
}
.iconOnPrew:hover{
    color: #f00;
}
.iconOnPrewImgZoom{
    left: 3px;
    top: 3px;
}
.iconOnPrewImgTrash{
    right: 3px;
    top: 3px;
}
.paddingNones{
    padding: 0px 0px 0px 5px!important;
}
#choseIconForMenu{
    position: fixed;
    top: 88px;
    right: 661px;
    border-left: 3px solid #525151;
    z-index: 999;
    width: 300px;
    height: 483px;
    display: none;
    overflow: hidden;
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    color: #ffffff;
    font-size: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#choseIconForMenu div.row:nth-child(1){
    border-bottom: 1px solid #525151;
}
.listIcon{
    list-style: none;
    width: 265px;
    margin-top: 8px;
}
.listIcon li {
    display: inline-block;
    font-size: 17px;
    padding: 2px;
    cursor: pointer;
}
.listIcon li:hover {
    color: #d9534f;
}
.iconFloatRight{
    float: right;
    padding: 2px;
    margin-left: 3px;
}
.iconFloatLeft{
    float: left;
    padding: 2px;
}
.iconFloatTop{
    position: absolute;
    top: 0 !important;
    left: calc(50% - 7px);
}
.iconFloatBottom{
    position: absolute;
    bottom: 0 !important;
    left: calc(50% - 7px);
    top: initial;
}
.dd3-content .iconForMenuList{
    float: none !important;
    position: static;
}
#nestable-menu li .dd3-content{
    cursor: pointer;
}
.insertImgInMenu span{
    float: none;
    padding: 0;
    margin: 0;
}
.insertImgInMenu span{
    font-size: 19px !important;
    text-align: center !important;
    position: absolute !important;
    line-height: 33px !important;
    left: calc(50% - 10px) !important;
    top: calc(50% - 17px) !important;
}

#editor-iframe{
    width: 100%;
    height: 100%;
    border: none;
}
.changeDevVersion{

}
.changeDevVersion .responsive a i{
    color: #999;
    font-size: 24px;
}
.changeDevVersion .responsive a input{
    display: none;
}
.changeDevVersion .responsive a label{
    cursor: pointer;
}
.changeDevVersion .responsive a:hover i{
    color: #fff;
}
.changeDevVersion .responsive a.active i{
    color: #fff;
}
.visibleOn span {
    display: none;
}
#vistext{
    display: block;
    float: left;
}
.textFontSize{
    width: 109px;
}
.textFontSize,.textFontFamily{
    width: 108px;
    display: inline-block;
    background: #3a3633;
    color: #fff;
    border: 1px #2F2F2F solid;
    font-size: 10pt;
    box-shadow: none !important;
}
#toolbarLocation i{
}
.testText, .colorpicker-element, .formatBlockText{
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    color: #fff;
    border: none;
}
.testText:hover, .colorpicker-element:hover, .formatBlockText:hover{
    color: #337ab7;
}
.colorpicker-element i{
    color: #fff;
}
.colorpicker-element:hover i{
    color: #337ab7;
}
#toolbarLocation button{
    width: 40px;
    height: 35px;
}
#toolbarLocation select{
    width: 118px;
    height: 36px;
}

.spinnerFull{
    width: 110px;
    margin-left: 13px;
    margin-top: 46px;
    position: relative;
    padding-top: 0;
    height: 35px;
}

.contWithSpinner input{
    width: 78px;
    margin-top: -12px;
    padding-left: 3px;
    color: #fff !important;
    background: linear-gradient(to right,#3a3633 93%,#3A3633 100%);
    border: 1px #2F2F2F solid;
    height: 35px;
    font-size: 14px;
    padding-right: 34px;
}
.spinnerFull label{
    padding-right: 3px;
}
.spinnerFull .arrowContrl{
    position: absolute;
    top: -10px;
    right: 0;
    color: #fff;
    font-size: 10px;
    height: 97%;
    width: 15px;
}
/*.arrowContrl{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 8px;
    height: 100%;
    width: 15px;
}*/
.spinnerFull .arrowContrl div:nth-child(1){
    text-align: center;
    margin-left: -6px;
    margin-top: 4px;-moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 50%;
}
.spinnerFull .arrowContrl div:nth-child(2){
    height: 50%;
    margin-left: 0px;
    margin-top: 0px;-moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.spinnerFull label i:nth-child(1){
    font-size: 9px;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.spinnerFull label i:nth-child(2){
    font-size: 14px;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.spinnerFull .arrowContrl i:hover{
    color: #337ab7;
}
.pxIcon{
    position: absolute;
    top: 6px;
    right: 22px;
    opacity: 0.3;
}
.contWithSpinner{
    height: 29px;
    margin-top: 52px;
    position: relative;
}
.LineHeightSpin, .LetterSpaceSpin{
    margin-top: 0px;
    position: absolute;
    right: 1px;
    top: 0px;
}
#toolbarLocation .btn-group{
    border-top: 1px #2F2F2F solid;
    border-bottom: 1px #2F2F2F solid;
}
/*.spinnerFull label{
    width: 27px;
    height: 14px;
}*/
.spinnerFull label img{
    width: 15px;
    margin-left: 5px;
    margin-top: -2px;
}
.contWithSpinnerSecond {
    margin-top: -34px;
}
.secondInputSpinner{
    width: 79px;
    margin-left: 4px;
}
#WordSpaceSpin{
    margin-left: 5px;
}
.activeButtonEd{
    background: #A1A1A1;
    color: #000;
}
label[for="colorPickerJsTextBG"]{
    height: 30px;
    margin-top: 0px;
    width: 36px;
    margin-left: -8px;
    background: #bbb;
    position: relative;
    top: -9px;
    cursor: pointer;
}
label[for="colorPickerJsTextBG"] i{
    font-size: 25px !important;
    line-height: 33px;
    margin-left: 6px;
}
label[for="contForColorText"]{
    height: 30px;
    margin-top: 0px;
    width: 31px;
    margin-left: -8px;
    background: none;
    position: relative;
    top: -9px;
    cursor: pointer;
}
label[for="contForColorText"] i{
    font-size: 25px !important;
    line-height: 33px;
    margin-left: 6px;
    color: #fff;
}
#colorPickerJsTextBG{
    padding: 4px;
}
#contForColorText{
    padding: 4px;
}
.gridOptin li{
    margin: 1px;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-box;
    padding: 5px;
    margin-top: 6px;
    cursor: pointer;
    border: 1px #616161 dashed;
    background: #3C3C3C;
}
.gridOptinActive{
    border: 1px #616161 solid !important;
    background: #292929 !important;
}






div.dragElement {
    border: 3px solid white;
    width: 10px;
    border-radius: 40px;
    height: 10px;
    text-align: center;
    z-index: 999;
    display: inline !important;
}
.dragElement:active{
    border-color: #337ab7;
}
#oneDiv{
    height: 22px;
    background: #f90;
    min-width: 15px;
    text-align: center;
}
#dragHCont{
    height: 22px;
    background: #195;
    min-width: 15px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
}
.DivWithHandle{
    background: #3C3C3C;
    margin-top: 10px;
    border: 1px #616161 dotted;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    width: 216px;
}
.DivWithHandle:active{
    border: 1px #337ab7;
    border-style: dashed;
}
.DivWithHandle div{
    display: inline-block;
}
.DivWithHandle .ZoneContFull{
    min-width: 15px;
    height: 18px;
    position: absolute;
    text-align: center;
}
.ZoneContFull p{
    margin-top: 0;
    color: #fff;
}
body {
    background: #3a3633;
}

.borderEdit div {
    cursor: pointer;
}

.borderEdit {
    width: 202px;
    height: 202px;
    box-sizing: border-box;
    /*overflow: hidden;*/
    position: relative;
    /*     background: url(../../img/borderIcon/border_sprite.png);
    */
}

.leftRadiusBorder {
    position: absolute;
    width: 16px;
    height: 87px;
    top: 59px;
    left: 8px;
    background: url(../../img/borderIcon/border_sprite.png);
    background-position: -1px 144px;
}

.leftRadiusBorder.activeBorder {
    background-position: -207px 144px;
}

.leftRadiusBorder:hover {
    background-position: -207px 144px;
}

.TopRadiusBorder {
    position: absolute;
    width: 87px;
    height: 11px;
    top: 14px;
    left: 49px;
    background: url(../../img/borderIcon/border_sprite.png);
    background-position: -57px 202px;
}

.TopRadiusBorder.activeBorder {
    background-position: -264px 202px;
}

.TopRadiusBorder:hover {
    background-position: -264px 202px;
}

.RightRadiusBorder {
    position: absolute;
    width: 11px;
    height: 87px;
    top: 62px;
    left: 173px;
    background: url(../../img/borderIcon/border_sprite.png);
    background-position: -192px 142px;
}

.RightRadiusBorder.activeBorder {
    background-position: -398px 142px;
}

.RightRadiusBorder:hover {
    background-position: -398px 142px;
}

.BottomRadiusBorder {
    position: absolute;
    width: 87px;
    height: 11px;
    bottom: 11px;
    left: 48px;
    background: url(../../img/borderIcon/border_sprite.png);
    background-position: -56px 12px;
}

.BottomRadiusBorder.activeBorder {
    background-position: -262px 12px;
}

.BottomRadiusBorder:hover {
    background-position: -262px 12px;
}

.innerBorderLeft {
    position: absolute;
    width: 4px;
    height: 81px;
    top: 63px;
    left: 27px;
    background: url(../../img/borderIcon/border_sprite.png);
    background-position: -33px 139px;
}

.innerBorderLeft.activeBorder {
    background-position: -239px 139px;
}

.innerBorderLeft:hover {
    background-position: -239px 139px;
}

.innerBorderRight {
    position: absolute;
    width: 4px;
    height: 81px;
    top: 63px;
    left: 160px;
    background: url(../../img/borderIcon/border_sprite.png);
    background-position: -165px 139px;
}

.innerBorderRight.activeBorder {
    background-position: -371px 139px;
}

.innerBorderRight:hover {
    background-position: -371px 139px;
}

.innerBorderTop {
    position: absolute;
    width: 89px;
    height: 4px;
    top: 35px;
    left: 49px;
    background: url(../../img/borderIcon/border_sprite.png);
    background-position: -54px -34px;
}

.innerBorderTop.activeBorder {
    background-position: -260px -34px;
}

.innerBorderTop:hover {
    background-position: -260px -34px;
}

.innerBorderBottom {
    position: absolute;
    width: 89px;
    height: 4px;
    top: 167px;
    left: 49px;
    background: url(../../img/borderIcon/border_sprite.png);
    background-position: -55px -165px;
}

.innerBorderBottom.activeBorder {
    background-position: -260px -34px;
}

.innerBorderBottom:hover {
    background-position: -260px -34px;
}

.innerBorderLeftTopAngle {
    position: absolute;
    width: 18px;
    height: 27px;
    top: 35px;
    left: 28px;
    background: url(../../img/borderIcon/border_sprite.png);
    background-position: -34px -34px;
}

.innerBorderLeftTopAngle.activeBorder {
    background-position: -240px -34px;
}

.innerBorderLeftTopAngle:hover {
    background-position: -240px -34px;
}

.innerBorderRightTopAngle {
    position: absolute;
    width: 21px;
    height: 27px;
    top: 35px;
    left: 144px;
    background: url(../../img/borderIcon/border_sprite.png);
    background-position: -149px -34px;
}

.innerBorderRightTopAngle.activeBorder {
    background-position: -355px -34px;
}

.innerBorderRightTopAngle:hover {
    background-position: -355px -34px;
}

.innerBorderRightBottomAngle {
    position: absolute;
    width: 21px;
    height: 27px;
    top: 146px;
    left: 143px;
    background: url(../../img/borderIcon/border_sprite.png);
    background-position: -148px -144px;
}

.innerBorderRightBottomAngle.activeBorder {
    background-position: -355px -144px;
}

.innerBorderRightBottomAngle:hover {
    background-position: -355px -144px;
}

.innerBorderLeftBottomAngle {
    position: absolute;
    width: 26px;
    height: 28px;
    top: 148px;
    left: 24px;
    background: url(../../img/borderIcon/border_sprite.png);
    background-position: -29px -145px;
}

.innerBorderLeftBottomAngle.activeBorder {
    background-position: -236px -146px;
}

.innerBorderLeftBottomAngle:hover {
    background-position: -236px -146px;
}

.prevInnerBorder {
    color: #fff;
    position: absolute;
    left: calc(50% - 36px);
    top: 31px;
    font-size: 10pt;
}
.prevDivBorder {
    width: 70px;
    height: 70px;
    position: absolute;
    border-color: #337ab7;
    border-width: 2px;
    border-style: solid;
    left: calc(50% - 44px);
    top: calc(50% - 14px);
}

#sliderBorderRad{
    position: absolute;
    width: 7px;
    right: 38px;
    top: 14px;

}
#sliderBorderRad .ui-slider-handle{
    width: 13px;
    border: 0px;
    cursor: pointer;
    background: rgb(51, 122, 183);
}
.borderCont{
    width: 240px;
    position: relative;
}
#amountBorder{
    border:0;
    font-size: 8pt;
    color: #FFFFFF;
    font-weight:bold;
    margin-left: 20px;
    margin-top: 4px;
}
.prevSizeSquare{
    width: 15px;
    height: 15px;
    position: absolute;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    left: 68px;
    top: 66px;
    cursor: pointer;
}
.prevSizeRectangle{
    width: 20px;
    height: 15px;
    position: absolute;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    left: 96px;
    top: 66px;
    cursor: pointer;
}
.prevSizeSquare:hover{
    border-color:#337ab7;
}
.prevSizeRectangle:hover{
    border-color:#337ab7;
}
.activeSize{
    border-color:#337ab7;
}






.contWithInput{
    position: relative;
    width: 115px;
    height: 35px;
}
.inputSpinners{
    width: 78px;
    background: linear-gradient(to right,#3a3633 93%,#3A3633 100%);
    padding-right: 34px;
    padding-left: 3px;
    height: 35px;
    color:#fff;
    border: 1px #2F2F2F solid;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    color: #fff !important;
    float: right;
}
.inputSpinners:focus{
    outline:none;
    border: 1px #fff dashed;
}
.inputSpinner1{
    display:inline;
}
label[for="inputSpinner1"]{
    height: 35px;
    width: 35px;
    font-size: 13pt;
    box-sizing: border-box;
    text-align: center;
    padding-top: 11px;
}
.listOfpx{
    color: #fff;
    position: absolute;
    right: 19px;
    font-size: 10pt;
    cursor: pointer;
    user-select: none;
    bottom: -1px;
    opacity: 0.3;
}
.arrowInSpinner{
    position: absolute;
    right: 1px;
    top: 2px;
    height: 100%;
}
.upArrowInSpinner{
    height: 15px;
    margin-left: 0px;
    width: 14px;
    margin-top: 1px;
    cursor: pointer;
}
.downArrowInSpinner{
    margin-top: 3px;
    height: 15px;
    width: 14px;
    cursor: pointer;
}
.hiddenDropdaunInSpinner{
    display: none;
    top: 34px;
    width: 35px;
    position: absolute;
    z-index: 99999999999;
    right: 0px;
    background: #3a3633;
    /* padding: 7px; */
    border: 1px #2F2F2F solid;
}
.hiddenDropdaunInSpinner li:nth-child(1){
    margin-top: 0px;
}
.hiddenDropdaunInSpinner li{
    list-style: none;
    width: 100%;
    font-size: 8pt;
    text-align: center;
    margin-top: 3px;
    box-sizing: border-box;
    cursor: pointer;
}
.hiddenDropdaunInSpinner li:hover{
    background:#464646;
}
.activeExSpinner{
    background:#464646;
}
#inputWithSpinner-borderWidth{
    width: 80px;
}
.titleBordWidth{
    margin-top: 9px;
    margin-left: -8px;
}
.titleBordStyle{

}
.colWithBottom button{
    width: 26px !important;
    display: inline;
    position: relative;
    padding-left: 6px;
    height: 28px;
}
#inputWithSpinner-borderColor{
    width: 80px;
    margin-top: 22px;
}
.titleBordColor{
    position: absolute;
    left: -19px;
    bottom: 0px;
}
.colorpickerHidden{
    display: none !important;
}

button[data-original-title="Dotted"] span{
    border-bottom: 1px #fff dotted;
}
button[data-original-title="Dashed"] span{
    border-bottom: 1px #fff dashed !important;
}
button[data-original-title="solid"] span{
    border-bottom: 1px #fff solid;
}
.colWithBottom button span{
    height: 1px;
    position: absolute;
    left: 1px;
    width: 22px;
    border-width: 2px;
}
#inputSpinnerColo{
    padding: 0;
}
.modalWithBgImg{
    z-index: 2;
    position: absolute;
    display: none;
    width: 230px;
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    height: 224px;
}
.overlayUniversal{
    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}

#item-editor-content{
    position: relative;
}

#assetsBgModalClose{
    font-size: 17pt;
    padding: 10px;
    cursor: pointer;

}
.bgPrevievImg{
    width: 75px;
    margin-top: 20px;
}
.divWithInfoPrevBg{
    margin-top: 20px;
}
#activeBgImg{
    border: 1px #337ab7 solid;
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -ms-transition:all 0.2s;
    -o-transition:all 0.2s;
    transition:all 0.2s;

}
.divWithInfoPrevBg button{
    width: 36px !important;
    margin-left: 2px;
}
.divWithInfoPrevBg button img{
    width: 21px;
    margin-left: -3px;
}
#BgWidthinputSpinner1,
#BgHeightinputSpinner1 {
    float: left;
}
#inputWithSpinner-BgHeight,
#inputWithSpinner-BgWidth{
    width: 80px;
}
.titleBgWidth{
    margin-top: -26px;
    margin-left: 6px;
}
#inputWithSpinner-BgHeight{
    margin-top: -32px;
}
.titleBgHeight{
    margin-top: -23px;
}
.firstColumnPreset{
    margin-left: -22px;
}
.presetColBg button{
    margin-top: 5px;
    height: 22px;
    width: 22px;
    padding: 0;
}
.presetColBg button i:hover{
    color:#337ab7;
}
.presetColBg button:active{
    color:#337ab7;
}
#activeBgPreset{
    color:#337ab7;
    position: relative;
    top: 1px;
    left: 1px;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.firstColumnPreset button:nth-child(1) i{
    transform: rotate(45deg);
}
.firstColumnPreset button:nth-child(3) i{
    transform: rotate(-45deg);
}
.secondColumnPreset button:nth-child(1) i{
    transform: rotate(90deg);
}
.secondColumnPreset button:nth-child(3) i{
    transform: rotate(-90deg);
}
.ThreeColumnPreset button:nth-child(1) i{
    transform: rotate(145deg);
}
.ThreeColumnPreset button:nth-child(2) i{
    transform: rotate(180deg);
}
.ThreeColumnPreset button:nth-child(3) i{
    transform: rotate(-145deg);
}
.adjustpostBg button{
    margin-top: 5px;
    height: 22px;
    width: 22px;
    padding: 0;
}

.adjustpostBg .firstColumnPreset button:nth-child(1),
.adjustpostBg .firstColumnPreset button:nth-child(3){
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.adjustpostBg .secondColumnPreset button:nth-child(2){
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.adjustpostBg .ThreeColumnPreset button:nth-child(1),
.adjustpostBg .ThreeColumnPreset button:nth-child(3){
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.resultPositionvVal{
    position: absolute;
    height: 75px;
    width: 30px;
    left: calc(50% - 23px);
    top: 5px;
}
.resultPositionvVal button{
    width: 15px;
    background: none !important;
    border: none;
    font-size: 9px;
    box-shadow: none;
    pointer-events: none;
    height: 15px;
}
.resultPositionvVal button:nth-child(1){
    border-top: #fff 2px solid;
    margin-left: 0px;
}
.resultPositionvVal button:nth-child(3){
    border-left: #fff 2px solid;
}
.resultPositionvVal button:nth-child(1) i{
    transform: rotate(-90deg);
    margin-left: -4px;
}
.resultPositionvVal button:nth-child(3) i{
    transform: rotate(180deg);
    margin-top: -3px;
    margin-left: -5px;
}
.resultPositionvVal span{
    line-height: 23px;
}
.resultPositionvVal span:nth-child(2){
}
.resultPositionvVal span:nth-child(4){
}

.titleBGColor{
    left: 12px;
}
#inputWithSpinner-BGColor input{
    margin-left: 29px;
}
.BgColorAndFix{
    margin-top:10px ;
}
.checkAttachmengBg{
    margin-top: 16px !important;
}
.ActiveBgButton{
    box-shadow: inset -1px 1px 12px rgba(41, 41, 41, 0.925);
}
#inputSpinnerColorBg{
    padding-right: 0;
}
.bgRepeatsbut button{
    margin-top: 5px;
    margin-left: 2px;
}
.colWithBottom .borderStyles{
    margin-top: 5px;
    margin-left: 2px;
}



.gridOptinTablet li{
    margin: 1px;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-box;
    padding: 5px;
    margin-top: 6px;
    cursor: pointer;
    border: 1px #616161 dashed;
    background: #3C3C3C;
}
.gridOptinActive{
    border: 1px #616161 solid !important;
    background: #292929 !important;
}
.gridOptinTablet li.GridOptionFull{
    display: none;
}
.hideRightSidebar{
    position: absolute;
    right: 170px;
    top: 9px;
}


.triggerVisibleSidebar{
    position: absolute;
    width: 241px;
    height: 27px;
    right: 0px;
    top: 48px;
    background-color: #3a3633;
    cursor: pointer;
}
.triggerVisibleSidebar p{
    font-size: 12pt;
    text-transform: capitalize;
    margin-left: 34px;
    margin-top: 4px;
}
.triggerVisibleSidebar i{
    font-size: 16pt;
    margin-top: 4px;
    margin-left: 7px;
    cursor: pointer;
    float: left;
}
.triggerVisibleSidebar_visible i{
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.triggerVisibleSidebar_visible:hover i{
    color: #337ab7;
}
.triggerVisibleSidebar_hidden i{
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;

}
.triggerVisibleSidebar_hidden:hover i{
    color: #337ab7;
}


/*TEST*/
/*#right-panel{
    overflow: visible;
}
#right-panel .devices{
    margin-top: 27px;

}*/
.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 54px;
    right: 24px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}
.xgate-template-editor #main {
    /*margin-left: -1px;
    margin-right: 244px;*/
   /* width: 100%;*/
    padding-bottom: 0;
    margin-top: 43px;
   /* background: #f0f;*/
}
#windSizeHeader{
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    color: #fff;
    margin-left: 45px;
    vertical-align: 16px;
}
#windSizeHeader img{
    margin-top: 8px;
    width: 36px;
    margin-left: -26px;
    padding-right: 5px;
}
#windSizeHeader li {
    list-style: none;
}
#windSizeHeader ul li:nth-child(2) {
    margin-left: 4px;
}
#windSizeHeader ul li:nth-child(2) span{
    margin-left: 3px;
}
.device-type a {
    vertical-align: 8px;
}
#collapseLeftBar{
    height: 27px;
    background:#3a3633 ;
}
#collapseLeftBar i{
    font-size: 16pt;
    color: #fff;
    margin-left: 14px;
    margin-top: 2px;
}
#left-panel {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 904;
    padding-top: 49px;
    width: 50px;
    display: block;
    overflow: visible;
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    min-height: 100%;
}


.triggerVisibleSidebarLeft_visible i{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#collapseLeftBar:hover i{
    color: #337ab7;
}
.triggerVisibleSidebarLeft_hidden i{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

}
.smallDevAlert {
    position: fixed;
    top: 50px;
    padding: 5px;
    height: 35px;
    background: rgba(217,83,79,0.6);
    z-index: 99;
    left: calc(50% - 263px);
}
.smallDevAlert h3 {
    color: #fff;
    margin-top: 0px;
    font-size: 12pt;
}
.smallDevAlert{
    display: none;
}
#activeItemSort{
    background-color: rgba(86, 86, 86, 0.8);
    color: #fff;
}
/*.tree li {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    padding-left: 5px;
    position: relative;
}
.tree li.parent_li>span:hover {
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    color: #fff;
}*/
/*ContextMenu*/
.contextMenu{
    background: #ddd;
    width: 170px;
    height: 230px;
    position:fixed;
}


/*
Context menu*/
.contMenu {
    background: #ddd;
    width: 170px;
    height: auto;
    position: fixed;
    -webkit-box-sizing: border-box;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 0 19px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0 19px -2px rgba(0,0,0,0.75);
    box-shadow: 1px 0 19px -2px rgba(0,0,0,0.75);
    display: none;
    z-index: 999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.contMenu ul {
    padding: 0;
    margin: 0;
}
.contMenu ul li {
    list-style: none;
    width: 100%;
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    color: #fff;
    border-top: 1px #3E3D3D solid;
    padding: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 15px;
    cursor: pointer;
}
.contMenu ul li:hover {
    background: #337ab7;
    border-color: #2e6da4;
}

#SelParentElem:hover ul {
    display: block;
}
#SelParentElem {
    border-bottom: 1px #847F7F solid;
}

#secondContMenu {
    top: 0;
    position: absolute;
    width: inherit;
    left: 170px;
    display: none;
}
.copyElem li,
#secondContMenu li {
    height: 31px;
    padding-left: 7px !important;
    padding-top: 8px !important;
    line-height: 0px;
    margin-top: 0px;
}
.copyElem li i,
.copyElem li p,
#secondContMenu li i,
#secondContMenu li p {
    display: inline-block;
    pointer-events: none;
}
.copyElem li p,
#secondContMenu li p {
    padding-left: 5px;
    pointer-events: none;
}
.emptyCopy {
    color: #636363 !important;
    pointer-events: none;
}
.copyElem{
    top: 0;
    position: absolute;
    width: inherit;
    left: 170px;
    display: none;
}
li[data-func='cut']:hover .copyElem,
li[data-func='copy']:hover .copyElem{
    display: block;
}
.copyElem .cantCopy {
    color: #636363 !important;
    pointer-events: none;
}
.tree li {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    padding-left: 3px;
    position: relative;
}
.treeHover{
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    color: #fff;
}
.ketHot{
    font-size: 10px;
    font-weight: bold;
    color: rgba(255,255,255,0.3);
    float: right;
    padding-right: 25px;
    margin-top: 5px;
}
.ketHot img {
    width: 11px;
    margin-top: -4px;
}
#SelParentElem:after,
li[data-func='cut']:after,
li[data-func='copy']:after{
    content: ">";
    font-size: 12px;
    margin-top: 3px;
    font-weight: bold;
    color: rgba(255,255,255,0.3);
    position: absolute;
    right: 7px;
}
#secondContMenu,
#cutElem,
#copyElem{
    height:100%;
}
.ketHot{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
.tree ul ul {
    padding-left: 23px;
    padding-top: 10px;
}
.tree li.parent_li>span {
    cursor: pointer;
    padding: 4px;
}
























