html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;}
body{
	font-size:62.5%;
	font-family:Arial,sans-serif;
	color:#000;
}

article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}

ol,ul{list-style:none;margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}

table{
	border-collapse:collapse;
	border-width:0;
	empty-cells:show
}
ul{
	padding:0 0 1em em;
}
ol{
	padding:0 0 1em 1.3em;
}
li{
	line-height:1.5em;
	padding:0 0 .5em 0;
}
p{
	padding:0 0 1em 0;
}
h1,h2,h3,h4,h5{
	/*padding:0 0 .5em 0;*/
}
h1,h2{
	font-size:1.8em;
	font-weight:normal;
	/*padding-bottom: 0px;*/
}
h3{
	font-size:1.1em;
}
h4,h5,table{
	font-size:1em;
}
sup,sub{
	font-size:.7em;
}
input,select,textarea,option{
	font-family:inherit;
	font-size:inherit;
}
/*body{background-color:#E0ECFF}*/
/*body{background-color:#e1e3ec}*/

a,a:link,a:visited,a:active{
	text-decoration:none;
	cursor:pointer;
	color:#06c;
}
a:hover{
	text-decoration:underline;
}
*:focus{
	outline:none;
}
h1{
	font-size:160%;
}
label{
	/*cursor:cursor;*/
	cursor:text;
}
textarea{
	overflow:auto;
}
hr{
	border:none;
	color:#ccc;
	background-color:#ccc;
	height:1px
}

.doc_page{
	width:100%;
	text-align:left;
	font-size:130%;
}

.logout_bar{
	margin-right:1ex;
	padding-top:4px;
	text-align:right;
	background-color:#fff
}
.g-section{
	width:100%;
	overflow:hidden
}

.navigatebar_selected{
	color: #00974B;
	font-weight:normal;
	font-size:105%;
}

.navigatebar{
	font-weight:normal;
	font-size:105%;
	color:#666
}

.left_menu_bar{


}
/*.g-section,.g-unit{zoom:1}*/
.tab_width{width: 70px; text-align: center;}
#ltas-content-area{padding:10px 15px;}
#ltas-tab-area .goog-rounded-tab-caption{color:#fff}

.ltas-top-section{background-color:#fff}
#ltas-top-area{padding:0 1ex}

/*Unselected tab bg color*/
#ltas-tab-area .goog-rounded-tab-caption{background-color:#6694e3}
#ltas-tab-area .goog-rounded-tab-inner-edge{background-color:#6694e3}
#ltas-tab-area .goog-rounded-tab-outer-edge{background-color:#6694e3}

/*selected tab bgcolor*/
/*#ltas-tab-area .goog-rounded-tab-selected .goog-rounded-tab-caption{background:url(../images/tab_bg.png) -6px repeat-x #E0ECFF;color:#333}
#ltas-tab-area .goog-rounded-tab-selected .goog-rounded-tab-inner-edge{background:url(../images/tab_bg.png) -6px repeat-x #E0ECFF;color:#333}
#ltas-tab-area .goog-rounded-tab-selected .goog-rounded-tab-outer-edge{background:url(../images/tab_bg.png) -6px repeat-x #E0ECFF;color:#333}
#ltas-tab-area .goog-rounded-tab-caption{padding:4px 10px 8px;font-weight:bold}*/

#ltas-tab-area .goog-rounded-tab-selected .goog-rounded-tab-caption{background:#e6e9ef;color:#333}
#ltas-tab-area .goog-rounded-tab-selected .goog-rounded-tab-inner-edge{background:#e6e9ef;color:#333}
#ltas-tab-area .goog-rounded-tab-selected .goog-rounded-tab-outer-edge{background:#e6e9ef;color:#333}
#ltas-tab-area .goog-rounded-tab-caption{padding:4px 10px 8px;font-weight:bold}

/*left,right space bgcolor*/
/*#ltas-tab-area{background:url(../images/tab_bg.png) repeat-x #E0ECFF;padding:0 1ex;width:auto}*/
#ltas-tab-area{background:#e6e9ef;padding:0 1ex;width:auto}

.adsui-module h3{color:#333;font-size:1em;margin:0 0 4px;padding:0}
.adsui-module hr{background:#ccc none repeat scroll 0 0;border:medium none;color:#ccc;height:1px}

.ltas-tab-module{position:relative;}
.ltas-tab-module .adsui-module-r1{display:none}
/*Tab menu bgcolor*/
/*.ltas-tab-module .adsui-module-r2,.ltas-tab-module .adsui-module-r3,.ltas-tab-module .adsui-module-c{background-color:#00659C;border:none}*/
.ltas-tab-module .adsui-module-r2,.ltas-tab-module .adsui-module-r3,.ltas-tab-module .adsui-module-c{background-color:#2A3A78;border:none}
.ltas-tab-module .adsui-module-c{padding:15px 4px}
.ltas-tab-module .goog-tab-bar{bottom:0;position:absolute;}

.adsui-module-r1{background-color:#ccc;margin:0 3px;padding-top:1px}

.adsui-module-r2{background-color:#f5f6f9;border-left:1px solid #ccc;border-right:1px solid #ccc;margin:0 2px;padding-top:1px}
.adsui-module-primary .adsui-module-r2,.adsui-module-primary .adsui-module-r3,.adsui-module-primary .adsui-module-c{background-color:#fff}

.adsui-module-r3{background-color:#f5f6f9;border-left:1px solid #ccc;border-right:1px solid #ccc;margin:0 1px;padding-top:1px}

.adsui-module-c{background-color:#f5f6f9;border-left:1px solid #ccc;border-right:1px solid #ccc;padding:5px}
.ltas-body-module .adsui-module-c{padding:1em}
.ltas-results-module .adsui-module-c{padding:0 0 3em}

.goog-tab-bar-top .goog-rounded-tab{margin:0 4px 0 0;float:left}
.goog-tab-bar-top .goog-rounded-tab{vertical-align:bottom}
.goog-tab-bar-top .goog-rounded-tab-outer-edge{margin:0 3px}
.goog-tab-bar-top .goog-rounded-tab-inner-edge{margin:0 1px}

.g-tpl-180 .g-unit,.g-unit .g-tpl-180 .g-unit,.g-unit .g-unit .g-tpl-180 .g-unit,.g-unit .g-unit .g-unit .g-tpl-180 .g-unit{margin:0 0 0 180px;width:auto;float:none}
.g-unit .g-unit .g-unit .g-tpl-180 .g-first,.g-unit .g-unit .g-tpl-180 .g-first,.g-unit .g-tpl-180 .g-first,.g-tpl-180 .g-first{margin:0;width:180px;float:left}

.g-tpl-240 .g-unit,.g-unit .g-tpl-240 .g-unit,.g-unit .g-unit .g-tpl-240 .g-unit,.g-unit .g-unit .g-unit .g-tpl-240 .g-unit{display:block;margin:0 0 0 240px;width:auto;float:none}
.g-unit .g-unit .g-unit .g-tpl-240 .g-first,.g-unit .g-unit .g-tpl-240 .g-first,.g-unit .g-tpl-240 .g-first,.g-tpl-240 .g-first{display:block;margin:0;width:240px;float:left}

.goog-rounded-tab{border:0;padding:0;cursor:pointer}
.goog-rounded-tab-caption{margin:0;border:0;padding:.5ex}
.goog-rounded-tab-inner-edge,.goog-rounded-tab-outer-edge{height:1px;font-size:1px;overflow:hidden}
.goog-rounded-tab-selected .goog-rounded-tab-caption,.goog-rounded-tab-selected .goog-rounded-tab-inner-edge,.goog-rounded-tab-selected .goog-rounded-tab-outer-edge{font-weight:bold;}

.ltas-home-panel li{padding:0}
.ltas-home-table td{text-align:left;padding:5px 5px 5px 0}
.ltas-home-table th{vertical-align:top;white-space:nowrap;text-align:right;padding:13px 10px 10px 0}
.ltas-text-input{width:10ex}

.ltas-tabbed-filler{border-bottom:1px solid #ccc;bottom:0;position:absolute;width:98%;z-index:-1}
.ltas-leftnav-spacer{height:10px}
.ltas-help-module ul{list-style-type:none;padding:0}
.ltas-help-module li{padding-left:5px;padding-top:1px;padding-bottom:1px;line-height:1.1em;margin-bottom:4px;}
.ltas-example{font-weight:normal;color:#666;font-size:.9em;padding-top:2px}
.ltas-leftnav{margin-right:1.5ex;line-height:1.5em}
/*.ltas-home-panel select,.ltas-home-panel .ltas-site-other-input,.ltas-home-panel .ltas-input{width:25em}*/
.ltas-input-example{color:#333}

.SubHeader {
	padding: 0px;
	background: url(/include/images/basic/left_corner.gif) #45606b no-repeat left top;
	
	margin: 0px;
}
.SubHeader DIV {
	padding: 4px;
	background: url(/include/images/basic/right_corner.gif) no-repeat right top;
	font-size: 12px;
	color:white;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
}

.SubFooter{
	border:1px solid #999999;
	background-color:#999999;
	height:8px;
}

.SubInnerHeader{
	background-color:#45606b;
}

.WarningBox{
	border: #FF6111 1px solid;
	padding: 5px;
	font-weight: 900;
	margin: 10px; 
	background-color: #FFE3AA;
	text-align: center
}

ul#quickactions {
	padding : 0px;
	margin: 0px;
	width: 100%;
	list-style-type: none
}
ul#quickactions li {
	width: 90%;
	display: block;
	font-weight: 700;
	font-size: 13px;
	font-family:Arial,sans-serif;
	padding : 3px 0px;
	margin: 0px auto;
	color: #06c; 
	border-bottom: #cccccc 1px solid;
}
ul#quickactions img {
	margin-right: 5px
}
ul#quickactions a {
	color: #06c;
	text-decoration: none;
	cursor: pointer;
}
ul#quickactions a:hover {
	color: #06c;
	text-decoration:underline;
	
}

.ac_main{
	border-bottom: 1px solid #cccccc;
	display:block;
	padding:4px 0px;
	margin: 0px auto;
	color: #333333;
	width:90%;
	clear: both;
}

.ac_label{
	padding-right: 10px;
	display: block;
	font-weight: bold;
	float: left;
	width: 130px;
	font-size:13px;
	text-align: right;
}

.ac_info{
	display: block;
	text-align: left;
	font-weight: normal;
	font-size: 12px
}

.quick_view{
	/*overflow-Y: scroll;*/
	border: 1px solid #999999;
	padding: 3px;
}
.quick_item{
	padding:3px;
	padding-left:6px;
	font-family: arial, 'lucida console', sans-serif;
}

.over_quickact_out{
	font-weight: 700;
	font-size: 13px;
	font-family:Arial,sans-serif;
	color: 6b3c1d; 
	text-decoration: none;
	cursor: pointer;
}

.over_quickact_in{
	font-weight: 700;
	font-size: 13px;
	font-family:Arial,sans-serif;
	color: #06c; 
	text-decoration: underline;
	cursor: pointer;
}
 
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-datepicker-current {display: none;}

.inp_hold {
	background:url("/include/images/basic/bg_datepicker.gif") repeat-x scroll 0 0 transparent;
	border-left:1px solid #B2B5B2;
	border-right:1px solid #B2B5B2;
	display:block;
	height:24px;
	margin:0px 0 10px;
}

.date_hold {
	float:left;
	width:120px;
}

.inp_with_example {
	margin-bottom:1px;
}

#contest_input .input input {
	vertical-align:middle;
}

.date_hold input {
	width:85px;
}

.inp_hold input, .inp_hold textarea 
{
	background:none repeat scroll 0 0 transparent;
	border:medium none;
	height:21px;
	margin:3px 0px 0px;
	padding:0 5px;
	/*width:100%;*/
}

img.ui-datepicker-trigger {
	cursor:pointer;
}

.date_hold img {
	margin-top:3px;
	vertical-align:top;
}
 
 .overview_line_over{
	background-color: #C5DEFA;
	border-bottom:1px solid #999999;
	cursor:pointer;
}
.overview_line_out{
	background-color: #ffffff;
	border-bottom:1px solid #999999;
	cursor:pointer;
}


.pt5 {
	padding-top: 5px;
}

.pb10 {
	padding: 5px 0px;
}

.space_3{
	padding:2px 0px;
}
/*
.frmbline{
	border-bottom:1px solid #DEDEDE;
}
*/

.frmbline{
	border-bottom:1px solid #999999;
}

.frminput {
	font-family:Arial,sans-serif;
	border-right: #cccccc 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #cccccc 1px solid;
}

.frmselect{
	font-family:Arial,sans-serif;
	border-right: #cccccc 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #cccccc 1px solid;
}

.frmlabel {
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	letter-spacing: 0px
}

.red_star {
	font-size: 16px;
	color: #cc0000
}

.frmreference {
	font-size: 12px; 
	color: #7f7f7f;
	background-image: url(/include/images/email/ref_arrow.png); 
	background-repeat: no-repeat;
	background-position: 0px 7px;
	display: list-item; 
	padding-top: 4px; 
	padding-left: 10px;
	list-style-type: none
}

.tip_normal{
	color: #666666
}

.tip_red {
	color: #ff0000
}

.tip_green {
	color: #079000
}


.frmerror {
	background-color: #f2d9d9 ;
	border: #ff0000 2px solid;
	/*padding-right: 5px; 
	padding-left: 7px; 
	padding-bottom: 3px;
	padding-top: 3px;
	margin-right: 10px; */
}

.taerror{
	border: #ff0000 2px solid;
}

.siderror {
	font-size: 11px;
	padding-bottom: 5px; 
	color: #ff0000; 
	font-family: Tahoma, Arial
}
.head_error {
	padding-left: 25px;
	font-weight: bold; 
	font-size: 15px;
	background-image: url(/include/images/error/error.png); 
	color: #333333; 
	background-repeat: no-repeat
}
.errorleftbox {
	background-image: url(/include/images/error/err_box_left.gif);
	background-repeat: no-repeat; 
	width: 11px; 
	height: 37px
}
.errormidbox {
	background-image: url(/include/images/error/err_box_mid.gif);
	background-repeat: repeat-x; 
	height: 37px;
	background-color: #f7dbde
}
.errorrightbox {
	background-image: url(/include/images/error/err_box_right.gif);
	width: 11px; 
	background-repeat: no-repeat; 
	height: 37px
}

.head_ok {
	padding-left: 25px;
	font-weight: bold; 
	font-size: 15px;
	background-image: url(/include/images/error/success.png); 
	color: #333333; 
	background-repeat: no-repeat
}
.okleftbox {
	background-image: url(/include/images/error/ok_box_left.gif);
	background-repeat: no-repeat; 
	width: 11px; 
	height: 37px
}
.okmidbox {
	background-image: url(/include/images/error/ok_box_mid.gif);
	background-repeat: repeat-x; 
	height: 37px;
	/*background-color: #*/
}
.okrightbox {
	background-image: url(/include/images/error/ok_box_right.gif);
	width: 11px; 
	background-repeat: no-repeat; 
	height: 37px
}




.CampaignTab {
	WIDTH: 12em;
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: left; CURSOR: pointer; MARGIN-RIGHT: 5px; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/tab_right.gif) #eeeeee no-repeat right top; COLOR: #000000; FONT-FAMILY: Verdana
}
.CampaignTabActive {
	WIDTH: 12em;
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: left; CURSOR: pointer; MARGIN-RIGHT: 5px; TEXT-ALIGN: center; BACKGROUND-COLOR: #45606b;
	BACKGROUND: url(/include/images/basic/left_corner.gif) #45606b no-repeat left top; COLOR: #ffffff; FONT-FAMILY: Verdana;
}
.CampaignTab a {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/include/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.CampaignTab a :link{
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/include/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.CampaignTab a:visited{
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/include/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.CampaignTab a:active{
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/include/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.CampaignTab a:hover{
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/include/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.CampaignTabActive a {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/include/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}
.CampaignTabActive a :link{
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/include/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}
.CampaignTabActive a:visited {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/include/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}
.CampaignTabActive a :active{
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/include/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}
.CampaignTabActive a :hover{
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/include/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}

.menu_box_top{
	background-image:url(/include/images/contacts/colormode_top.jpg);
	background-repeat:no-repeat;
	width:250px;
	height:12px;
} 

.menu_box_mid{
	background-image:url(../../images/contacts/colormode_mid.jpg);
	background-repeat:repeat-y;
	width:250px;
}
 
.menu_box_bot{
	background-image:url(../../images/contacts/colormode_bot.jpg);
	background-repeat:no-repeat;
	width:250px;
	height:12px;
}

.menu_box_title{
	padding:3px 0px; font-weight:900; font-size:13px; background-color: #C1DBFB; width:236px; color: #222222;
}

.menu_box_label{
	padding-top:3px; padding-bottom:3px; padding-right:3px; font-size:11px; font-weight:900; color:#444444;
}

.Camp_sort a:link, .Camp_sort a:visited, .Camp_sort a:active, .Camp_sort a:hover{
	color:#ffffff;
	font-size: 13px;
	font-weight: bold;
	text-decoration:none;
	cursor:pointer;
}

.overview_line_over{
	background-color: #C5DEFA;
	border-bottom:1px solid #999999;
	cursor:pointer;
}
.overview_line_out{
	background-color: #ffffff;
	border-bottom:1px solid #999999;
	cursor:pointer;
}


.OverviewTab {
	WIDTH: 12.8em;
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: left; CURSOR: pointer; MARGIN-RIGHT: 4px; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/tab_right.gif) #eeeeee no-repeat right top; COLOR: #000000; FONT-FAMILY: Verdana
}
.OverviewTabActive {
	WIDTH: 12.8em;
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: left; CURSOR: pointer; MARGIN-RIGHT: 5px; TEXT-ALIGN: center; BACKGROUND-COLOR: #45606b;
	BACKGROUND: url(/include/images/basic/left_corner.gif) #45606b no-repeat left top; COLOR: #ffffff; FONT-FAMILY: Verdana;
}
.OverviewTab a {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.OverviewTab a :link{
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.OverviewTab a:visited{
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.OverviewTab a:active{
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.OverviewTab a:hover{
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.OverviewTabActive a {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}
.OverviewTabActive a :link{
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}
.OverviewTabActive a:visited {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}
.OverviewTabActive a :active{
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}
.OverviewTabActive a :hover{
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}

/*
.OverviewTab {
	WIDTH: 12.8em;
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: left; CURSOR: pointer; MARGIN-RIGHT: 4px; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: center;
	BACKGROUND: url(/images/basic/tab_right.gif) #eeeeee no-repeat right top; COLOR: #000000; FONT-FAMILY: Verdana
}
.OverviewTabActive {
	WIDTH: 12.8em;
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: left; CURSOR: pointer; MARGIN-RIGHT: 4px; TEXT-ALIGN: center; BACKGROUND-COLOR: #45606b;
	BACKGROUND: url(/images/basic/left_corner.gif) #45606b no-repeat left top; COLOR: #ffffff; FONT-FAMILY: Verdana;
}
.OverviewTab span {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.OverviewTabActive span{
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}
*/

.merge_btout{
	border : 1px solid #abc3d7;
	background-color:#d7e2ea;
	color:black;
	cursor: pointer;
}

.merge_btover{
	border : 1px solid #4e8ccf;
	background-color:#4e8ccf ;
	color:white;
	cursor: pointer;}
	
	
.float_box_top{
	background-image:url(/include/images/email/float_top.gif);
	background-repeat:no-repeat;
	width:168px;
	height:20px;
} 

.float_box_mid{
	background-image:url(/include/images/email/float_mid.gif);
	background-repeat:repeat-y;
	width:168px;
}
 
.float_box_bot{
	background-image:url(/include/images/email/float_bot.gif);
	background-repeat:no-repeat;
	width:168px;
	height:8px;
}

.float_link a {
	TEXT-DECORATION: none;
	COLOR: #666666;
	font-weight: bold;
	font-size:11px;
}
.float_link a :link{
	TEXT-DECORATION: none;
	COLOR: #666666;
	font-weight: bold;
	font-size:11px;
}
.float_link a :visited {
	TEXT-DECORATION: none;
	COLOR: #666666;
	font-weight: bold;
	font-size:11px;
}
.float_link a:active {
	TEXT-DECORATION: none;
	COLOR: #666666;
	font-weight: bold;
	font-size:11px;
}
.float_link a:hover {
	TEXT-DECORATION: underline;
	COLOR: #666666;
	font-weight: bold;
	font-size:11px;
}


/** add from webform default css content in the controller before {$txtCode}, head version not include this code block **/
.cstm_titlepart
{
	padding-top:4px;
	text-align: left;
}
.cstm_frmtitle
{
	font-family:\"Lucida Grande\",Tahoma,Arial,sans-serif;
	font-size:16px;
	color:#555555;
}
.cstm_titledescript
{
	font-size: 16px !important;
	font-family:\"Lucida Grande\",Tahoma,Arial,sans-serif;
	color:#555555;
	padding-bottom: 5px;
}
.cstm_frmquestion
{
	font-size:11px;
	font-weight:normal;
	color:#505050;
	padding:0 0 3px;
	text-align: left;
}
.cstm_frmanswer
{
	text-align: left;
	color:#444444;
	padding:0;
}
.cstm_questiondescript
{
	color:#444444;
	font-size:11px;
}
.cstm_frmchoice 
{
	color:#222222;
	font-size:12px;
}
.cstm_text
{
	border: 1px solid #BDC7D8;
	color:#333333;
	font-family:\"Lucida Grande\",Tahoma,Arial,sans-serif;
	font-size:100%;
}
.cstm_textarea
{
	border: 1px solid #BDC7D8;
	color:#333333;
	font-family:\"Lucida Grande\",Tahoma,Arial,sans-serif;
	font-size:100%;
}
.cstm_select
{
	color:#333333;
	font-family:\"Lucida Grande\",Tahoma,Arial,sans-serif;
	font-size:13px;
}
.cstm_frmsubmitpart
{
	text-align: center;
}
{
	color:#333333;
	font-family:\"Lucida Grande\",Tahoma,Arial,sans-serif;
	font-size:13px;
}
		// Modify By Wood
		// Set default official rule css value
.cstm_frmofficialrules
{
	color:#333333;
	font-family:\"Lucida Grande\",Tahoma,Arial,sans-serif;
	font-size:13px;
}
		// End Modify By Wood
.cstm_btnsubmit
{
	font-family: \"lucida grande\",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
}
#fullContainer {
	margin: 0 auto;
/* 	width: 600px; */
/* 	background-color: #ddd; */
	border-left: solid 1px #000;
	border-right: solid 1px #000;
	border: 0px;
/* 	font-size: .8em; */
}
#banner {
	text-align: center;
	background-color: #555;
	color: #fff;
	font-size: 3.5em;
	height: 3.5em;
	line-height: 3em;
	text-align: center;
	border-bottom: solid 1px #000;
	font-family: \"Trebuchet MS\", sans-serif;
}
#formFooter {
	clear: both;
	color: #fff;
	background-color: #555;
	text-align: center;
	height: 2.5em;
	line-height: 2em;
	border-top: solid 1px #000;
} 
