.content-row{
    margin: 0;
    padding: 5px;
}
.item-image img{
    width: 100%;
    height: 100%;
}
.row{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
}
.col-md-12{
    padding-left: 0;
    padding-right: 0;
}

.grid-stack-item-content h1,
.grid-stack-item-content h2,
.grid-stack-item-content h3,
.grid-stack-item-content h4,
.grid-stack-item-content h5,
.grid-stack-item-content h6
{
    margin: 0;
    letter-spacing: 0;
    font-weight: normal;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}
.intro-header{
    position: relative;
    height: 250px;
}
.intro-header .container{
    padding: 0;
}
.title{
    padding: 5px;
}
.navbar {
    margin-bottom: 0;
    min-height: 0;
}
.dropdown-menu li:hover .sub-menu:not(.sub-menu2),
.dropdown-menu.sub-menu li:hover .sub-menu2{
    visibility: visible;
    display: block;
}
.item-image{
    background: url('/img/uploadImg.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.item-image.gallery-image{
    background: none;
}
.content-center{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.item-youtube,.item-youtube iframe{
    width: 100%;
    height: 100%;
}
.menu .dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}
.bg_dark{
    background: #eff8f8;
}

.bg_green{
    background-color: #169c78;
    color: white;
}

.bg_red{
    background-color: #9c1b31;
    color: white;
}

.bg_blue_light {
    background-color: #41b6ab;
    color: white;
}

.bg_blue {
    background-color: #34495e;
    color: white;
}

.bg_orange {
    background-color: #f05442;
    color: white;
}

.bg_purple {
    background-color: #b163a3;
    color: white;
}

.bg_black {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.bg_img_bg_parallax{
    background-size: cover;
    background-image: url("/upload/bg/parallax_bg.jpg");
}
.bg_img_bg_business_guy{
    background-size: cover;
    background-image: url("/upload/bg/business_guy.jpg");
}
.bg_img_bg_flower_field{
    background-size: cover;
    background-image: url("/upload/bg/flower_field.jpg");
}
.bg_img_bg_landscape{
    background-size: cover;
    background-image: url("/upload/bg/landscape.jpg");
}
.bg_img_bg_mountains{
    background-size: cover;
    background-image: url("/upload/bg/mountains.jpg");
}
.bg_img_bg_greenfields{
    background-size: cover;
    background-image: url("/upload/bg/greenfields.jpg");
}
.bg_img_bg_aqua{
    background-size: cover;
    background-image: url("/upload/bg/aqua.jpg");
}
.bg_img_bg_baby_blue{
    background-size: cover;
    background-image: url("/upload/bg/baby_blue.jpg");
}
.bg_img_bg_black{
    background-size: cover;
    background-image: url("/upload/bg/black.jpg");
}
.bg_img_bg_color_splash{
    background-size: cover;
    background-image: url("/upload/bg/color_splash.jpg");
}
.bg_img_bg_mango{
    background-size: cover;
    background-image: url("/upload/bg/mango.jpg");
}
.bg_img_bg_orange_red{
    background-size: cover;
    background-image: url("/upload/bg/orange_red.jpg");
}
.bg_img_bg_flower{
    background-size: cover;
    background-image: url("/upload/bg/flower.jpg");
}
.bg_img_bg_velour{
    background-size: cover;
    background-image: url("/upload/bg/velour.jpg");
}
.bg_img_bg_wood{
    background-size: cover;
    background-image: url("/upload/bg/wood.jpg");
}
.bg_img_bg_yellow_green{
    background-size: cover;
    background-image: url("/upload/bg/yellow_green.jpg");
}
.bg_custom_img{
    background-size: cover;
}

.item-map {
  width: 100%;
  height: 100%;
}

.iconFloatRight{
    float: right;
    padding: 2px;
    margin-left: 3px;
}
.iconFloatLeft{
    float: left;
    padding: 2px;
}
.iconFloatTop{
    position: absolute;
    top: 0 !important;
    left: calc(50% - 7px);
}
.iconFloatBottom{
    position: absolute;
    bottom: 0 !important;
    left: calc(50% - 7px);
    top: initial;
}
.dd3-content .iconForMenuList{
    float: none !important;
    position: static;
}
#nestable-menu li .dd3-content{
    cursor: pointer;
}
.insertImgInMenu span{
    float: none;
    padding: 0;
    margin: 0;
}
.insertImgInMenu span{
    font-size: 19px !important;
    text-align: center !important;
    position: absolute !important;
    line-height: 33px !important;
    left: calc(50% - 10px) !important;
    top: calc(50% - 17px) !important;
}