:root .grid-stack-item > .ui-resizable-handle {
    filter: none;
}

.grid-stack {
    position: relative;
}
.grid-stack > .grid-stack-item {
    min-width: 8.33333333%;
    position: absolute;
    padding: 0;
}
.grid-stack > .grid-stack-item > .grid-stack-item-content {
    padding: 5px;
}
.grid-stack:not(.inItem) > .grid-stack-item > .grid-stack-item-content {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    z-index: 0 !important;
    overflow: hidden;
}

.grid-stack.inItem > .grid-stack-item > .grid-stack-item-content{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    z-index: 0 !important;
}
.grid-stack > .grid-stack-item > .grid-stack-item-content:hover {
    border-color:#0000ff;
}
.grid-stack > .grid-stack-item[data-gs-width='1'] {
    width: 8.33333333%;
}
.grid-stack > .grid-stack-item[data-gs-x='1'] {
    left: 8.33333333%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='1'] {
    min-width: 8.33333333%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='1'] {
    max-width: 8.33333333%;
}
.grid-stack > .grid-stack-item[data-gs-width='2'] {
    width: 16.66666667%;
}
.grid-stack > .grid-stack-item[data-gs-x='2'] {
    left: 16.66666667%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='2'] {
    min-width: 16.66666667%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='2'] {
    max-width: 16.66666667%;
}
.grid-stack > .grid-stack-item[data-gs-width='3'] {
    width: 25%;
}
.grid-stack > .grid-stack-item[data-gs-x='3'] {
    left: 25%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='3'] {
    min-width: 25%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='3'] {
    max-width: 25%;
}
.grid-stack > .grid-stack-item[data-gs-width='4'] {
    width: 33.33333333%;
}
.grid-stack > .grid-stack-item[data-gs-x='4'] {
    left: 33.33333333%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='4'] {
    min-width: 33.33333333%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='4'] {
    max-width: 33.33333333%;
}
.grid-stack > .grid-stack-item[data-gs-width='5'] {
    width: 41.66666667%;
}
.grid-stack > .grid-stack-item[data-gs-x='5'] {
    left: 41.66666667%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='5'] {
    min-width: 41.66666667%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='5'] {
    max-width: 41.66666667%;
}
.grid-stack > .grid-stack-item[data-gs-width='6'] {
    width: 50%;
}
.grid-stack > .grid-stack-item[data-gs-x='6'] {
    left: 50%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='6'] {
    min-width: 50%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='6'] {
    max-width: 50%;
}
.grid-stack > .grid-stack-item[data-gs-width='7'] {
    width: 58.33333333%;
}
.grid-stack > .grid-stack-item[data-gs-x='7'] {
    left: 58.33333333%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='7'] {
    min-width: 58.33333333%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='7'] {
    max-width: 58.33333333%;
}
.grid-stack > .grid-stack-item[data-gs-width='8'] {
    width: 66.66666667%;
}
.grid-stack > .grid-stack-item[data-gs-x='8'] {
    left: 66.66666667%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='8'] {
    min-width: 66.66666667%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='8'] {
    max-width: 66.66666667%;
}
.grid-stack > .grid-stack-item[data-gs-width='9'] {
    width: 75%;
}
.grid-stack > .grid-stack-item[data-gs-x='9'] {
    left: 75%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='9'] {
    min-width: 75%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='9'] {
    max-width: 75%;
}
.grid-stack > .grid-stack-item[data-gs-width='10'] {
    width: 83.33333333%;
}
.grid-stack > .grid-stack-item[data-gs-x='10'] {
    left: 83.33333333%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='10'] {
    min-width: 83.33333333%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='10'] {
    max-width: 83.33333333%;
}
.grid-stack > .grid-stack-item[data-gs-width='11'] {
    width: 91.66666667%;
}
.grid-stack > .grid-stack-item[data-gs-x='11'] {
    left: 91.66666667%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='11'] {
    min-width: 91.66666667%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='11'] {
    max-width: 91.66666667%;
}
.grid-stack > .grid-stack-item[data-gs-width='12'] {
    width: 100%;
}
.grid-stack > .grid-stack-item[data-gs-x='12'] {
    left: 100%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='12'] {
    min-width: 100%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='12'] {
    max-width: 100%;
}
@media (max-width: 768px) {
    .grid-stack-item {
        position: relative !important;
        width: auto !important;
        left: 0 !important;
        top: auto !important;
        margin-bottom: 20px;
    }

    .grid-stack {
        height: auto !important;
    }
}
