.noPadding {
    padding-right: 0px!Important;
    padding-left: 0px!Important;
}



.smart-form .checkbox, .smart-form .radio{
    margin-left: 16px; 
}

.errorMessage{
    margin-left: 16px;
}


[class^="icon-"], [class*=" icon-"] {
    background-image: none !Important;
}

.breadcrumbs{
    color: #ccc;
    display: inline-block;
    margin: 0;
    padding: 11px 34px 11px 0!important;
    background: 0 0;
    vertical-align: top;
}

.breadcrumbs a{
    color: #BBB!important;
}

.param{
    margin: 0 0 0 -35px!Important;
}

.param li{
    list-style-type: none;
    margin-left: 5px;
    margin-bottom: 5px;
    float: left;
    color: #fff;
    background-color: #3276b1;
    border-color: #2c699d;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.param li:hover{
    background-color: #296191; 
}

.param a{
    color: #fff;
    text-decoration: none;

}
.param a:hover{
    color: #fff;
    background-color: #296191;
    border-color: #1f496d;
}

.selected:after{
    border-top: none!Important;
}

.selected:before{
    display: none!Important;
}

.buttonintabbles{
    margin-left: 5px;
    margin-bottom: 5px;
}

.updateForm{
    margin-top: 30px;
}


.dropDownCustom{
    margin-top: 14px;

}

.editorUL li{
    overflow: visible!Important;
}

.editorUL .dropdown-menu{
    background-color: #6D6A69;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: #6D6A69;
}

.cssEditor{
    display: none;
    position:relative;
    top:85px;
    height: 50px;
    left:0px;
    width: 18%;
    float: left;
    z-index: 991;
}

.topic{
    margin-top: 5px;
    margin-left: 5px;
}

.cssEditor A {
    color: rgb(79, 79, 79);
    outline: none;
}

.panel-heading A:after {
    font-family: 'FontAwesome';
    content: "\f0ab";
    float: right;
}

.buttonsCss{
    text-align: right;
}

#linktab{
    display: none;
}

.insertImgInMenu{
    top: 66px;
    left: 68px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    box-shadow: 0 1px 3px rgba(0,0,0,0.055);
    font-size: 10px;
    line-height: 11px;
    padding: 12px 0px 0px 15px;
    COLOR: #fff;
    text-decoration: none;
    position: absolute;
    overflow: hidden;
}

.insertImgInMenu:hover{
    text-decoration: none;
}

.shortcuts{
    float: left;
    position: relative;
    padding: 1px 0 0 0;
    width: 200px;
    height: 200px;
    margin-left: 80px;
    z-index: 992;
}
.top{
    left: 68px;
    top: 0px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    box-shadow: 0 1px 3px rgba(0,0,0,0.055);
    font-size: 10px;
    line-height: 11px;
    padding: 12px 0px 0px 15px;
    COLOR: #fff;
    text-decoration: none;
    position: absolute;
    overflow: hidden;
}
.left{
    left: 0;
    top: 65px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    box-shadow: 0 1px 3px rgba(0,0,0,0.055);
    font-size: 10px;
    line-height: 11px;
    padding: 12px 0px 0px 15px;
    COLOR: #fff;
    text-decoration: none;
    position: absolute;
    overflow: hidden;
}
.right{
    left: 136px;
    top: 67px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    box-shadow: 0 1px 3px rgba(0,0,0,0.055);
    font-size: 10px;
    line-height: 11px;
    padding: 12px 0px 0px 15px;
    COLOR: #fff;
    text-decoration: none;
    position: absolute;
    overflow: hidden;
}
.bottom{
    top: 132px;
    left: 68px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    box-shadow: 0 1px 3px rgba(0,0,0,0.055);
    font-size: 10px;
    line-height: 11px;
    padding: 12px 0px 0px 15px;
    COLOR: #fff;
    text-decoration: none;
    position: absolute;
    overflow: hidden;
}
.activeImgInsertInList{
    background: linear-gradient(to right,#4F4F4F 93%,#2a2725 100%)!Important;
}

.sidePictogram{
    position: relative;
    top: 20px;
    left: -19px;
    font-size: 11px;
}

.heightPictogram{
    position: relative;
    top: 15px;
    left: -22px;
    font-size: 11px;
}
.heightPictogram2{
    position: relative;
    top: 16px;
    left: 13px;
    font-size: 11px;
}
.heightPictogram3{
    position: relative;
    top: 13px;
    left: -11px;
    font-size: 11px;
}
.heightPictogram4{
    position: relative;
    top: 27px;
    left: -23px;
    font-size: 11px;
}

.sideText{
    left: 5px;
    position: relative;
}

.formButtom{
    padding: 13px 14px 15px;
    border-top: 1px solid rgba(0,0,0,.1);
    /*background: rgba(249,249,249,.9);*/
    text-align: right;
}