.scrolled {
    border: 1px solid #CCCCCC;
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
}
#responseTable {
    border: 0 none;
    border-collapse: collapse;
    width: 90%;
}
#responseTable thead {
    background: #4a4a4a;
    color: #fff;
    text-align:left;
    display: table;
    float: left;
    width: 100%;
}
#responseTable thead tr {
    display: table-row;
    width: 100%;
}
#responseTable tbody {
    display: block;
    height: 300px;
    overflow: auto;
    float: left;
    width: 100%;
    border: 1px solid #CCCCCC;
}
#responseTable tbody tr {
    display: table;
    width: 100%;
    height: 18px;
}
#responseTable tbody td {
	height:100%;
    padding:1px 0px;
    border-bottom: 1px solid #4a4a4a;
}

tr.three td:nth-child(1), tr.three th:nth-child(1) { width: 20%; }
tr.three td:nth-child(2), tr.three th:nth-child(2) { width: 50%; }
tr.three td:nth-child(3), tr.three th:nth-child(3) { width: 30%; }

tr.four td:nth-child(1), tr.four th:nth-child(1) { width: 5%; }
tr.four td:nth-child(2), tr.four th:nth-child(2) { width: 45%; }
tr.four td:nth-child(3), tr.four th:nth-child(3) { width: 25%; }
tr.four td:nth-child(4), tr.four th:nth-child(4) { width: 25%; }

tr.five td:nth-child(1), tr.five th:nth-child(1) { width: 5%; }
tr.five td:nth-child(2), tr.five th:nth-child(2) { width: 35%; }
tr.five td:nth-child(3), tr.five th:nth-child(3) { width: 15%; }
tr.five td:nth-child(4), tr.five th:nth-child(4) { width: 15%; }
tr.five td:nth-child(5), tr.five th:nth-child(5) { width: 30%; }


tr.six td:nth-child(1), tr.six th:nth-child(1) { width: 5%; }
tr.six td:nth-child(2), tr.six th:nth-child(2) { width: 35%; }
tr.six td:nth-child(3), tr.six th:nth-child(3) { width: 15%; }
tr.six td:nth-child(4), tr.six th:nth-child(4) { width: 15%; }
tr.six td:nth-child(5), tr.six th:nth-child(5) { width: 15%; }
tr.six td:nth-child(6), tr.six th:nth-child(6) { width: 15%; }

tr.seven td:nth-child(1), tr.seven th:nth-child(1) { width: 5%; }
tr.seven td:nth-child(2), tr.seven th:nth-child(2) { width: 35%; }
tr.seven td:nth-child(3), tr.seven th:nth-child(3) { width: 15%; }
tr.seven td:nth-child(4), tr.seven th:nth-child(4) { width: 10%; }
tr.seven td:nth-child(5), tr.seven th:nth-child(5) { width: 10%; }
tr.seven td:nth-child(6), tr.seven th:nth-child(6) { width: 10%; }
tr.seven td:nth-child(7), tr.seven th:nth-child(7) { width: 15%; }

tr.eight td:nth-child(1), tr.eight th:nth-child(1) { width: 5%; }
tr.eight td:nth-child(2), tr.eight th:nth-child(2) { width: 30%; }
tr.eight td:nth-child(3), tr.eight th:nth-child(3) { width: 15%; }
tr.eight td:nth-child(4), tr.eight th:nth-child(4) { width: 10%; }
tr.eight td:nth-child(5), tr.eight th:nth-child(5) { width: 10%; }
tr.eight td:nth-child(6), tr.eight th:nth-child(6) { width: 10%; }
tr.eight td:nth-child(7), tr.eight th:nth-child(7) { width: 10%; }
tr.eight td:nth-child(8), tr.eight th:nth-child(8) { width: 10%; }
.six, .eight {
    display: block;
    width: 100%;
}
.six td, .six th {
    display: inline-table;
}
.center {
    text-align: center;
}
#responseTable-box .pagination {
    text-align: right;
    margin: 10px 0;
}
#responseTable-box .pagination input {
    width: 40px;
}
#responseTable-box .pagination span {
    margin: 0 10px;
}