.pt5 {
	padding-top: 5px;
}

.pb10 {
	padding: 5px 0px;
}

.space_3{
	padding:2px 0px;
}
/*
.frmbline{
	border-bottom:1px solid #DEDEDE;
}
*/

.frmbline{
	border-bottom:1px solid #999999;
}

.frminput {
	font-family:Arial,sans-serif;
	border-right: #cccccc 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #cccccc 1px solid;
}

.frmselect{
	font-family:Arial,sans-serif;
	border-right: #cccccc 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #cccccc 1px solid;
}

.frmlabel {
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	letter-spacing: 0px
}

.red_star {
	font-size: 16px;
	color: #cc0000
}

.frmreference {
	font-size: 12px; 
	color: #7f7f7f;
	background-image: url(/include/images/email/ref_arrow.png); 
	background-repeat: no-repeat;
	background-position: 0px 7px;
	display: list-item; 
	padding-top: 4px; 
	padding-left: 10px;
	list-style-type: none
}

.tip_normal{
	color: #666666
}

.tip_red {
	color: #ff0000
}

.tip_green {
	color: #079000
}


.frmerror {
	background-color: #f2d9d9 ;
	border: #ff0000 2px solid;
	/*padding-right: 5px; 
	padding-left: 7px; 
	padding-bottom: 3px;
	padding-top: 3px;
	margin-right: 10px; */
}

.taerror{
	border: #ff0000 2px solid;
}

.siderror {
	font-size: 11px;
	padding-bottom: 5px; 
	color: #ff0000; 
	font-family: Tahoma, Arial
}
.head_error {
	padding-left: 25px;
	font-weight: bold; 
	font-size: 15px;
	background-image: url(/include/images/error/error.png); 
	color: #333333; 
	background-repeat: no-repeat
}
.errorleftbox {
	background-image: url(/include/images/error/err_box_left.gif);
	background-repeat: no-repeat; 
	width: 11px; 
	height: 37px
}
.errormidbox {
	background-image: url(/include/images/error/err_box_mid.gif);
	background-repeat: repeat-x; 
	height: 37px;
	background-color: #f7dbde
}
.errorrightbox {
	background-image: url(/include/images/error/err_box_right.gif);
	width: 11px; 
	background-repeat: no-repeat; 
	height: 37px
}

.head_ok {
	padding-left: 25px;
	font-weight: bold; 
	font-size: 15px;
	background-image: url(/include/images/error/success.png); 
	color: #333333; 
	background-repeat: no-repeat
}
.okleftbox {
	background-image: url(/include/images/error/ok_box_left.gif);
	background-repeat: no-repeat; 
	width: 11px; 
	height: 37px
}
.okmidbox {
	background-image: url(/include/images/error/ok_box_mid.gif);
	background-repeat: repeat-x; 
	height: 37px;
	/*background-color: #*/
}
.okrightbox {
	background-image: url(/include/images/error/ok_box_right.gif);
	width: 11px; 
	background-repeat: no-repeat; 
	height: 37px
}




.CampaignTab {
	WIDTH: 12em;
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: left; CURSOR: pointer; MARGIN-RIGHT: 5px; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/tab_right.gif) #eeeeee no-repeat right top; COLOR: #000000; FONT-FAMILY: Verdana
}
.CampaignTabActive {
	WIDTH: 12em;
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: left; CURSOR: pointer; MARGIN-RIGHT: 5px; TEXT-ALIGN: center; BACKGROUND-COLOR: #45606b;
	BACKGROUND: url(/include/images/basic/left_corner.gif) #45606b no-repeat left top; COLOR: #ffffff; FONT-FAMILY: Verdana;
}
.CampaignTab a {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/include/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.CampaignTab a :link{
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/include/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.CampaignTab a:visited{
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/include/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.CampaignTab a:active{
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/include/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.CampaignTab a:hover{
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/include/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.CampaignTabActive a {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/include/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}
.CampaignTabActive a :link{
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/include/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}
.CampaignTabActive a:visited {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/include/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}
.CampaignTabActive a :active{
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/include/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}
.CampaignTabActive a :hover{
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/include/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}

.menu_box_top{
	background-image:url(/include/images/contacts/colormode_top.jpg);
	background-repeat:no-repeat;
	width:250px;
	height:12px;
} 

.menu_box_mid{
	background-image:url(../../images/contacts/colormode_mid.jpg);
	background-repeat:repeat-y;
	width:250px;
}
 
.menu_box_bot{
	background-image:url(../../images/contacts/colormode_bot.jpg);
	background-repeat:no-repeat;
	width:250px;
	height:12px;
}

.menu_box_title{
	padding:3px 0px; font-weight:900; font-size:13px; background-color: #C1DBFB; width:236px; color: #222222;
}

.menu_box_label{
	padding-top:3px; padding-bottom:3px; padding-right:3px; font-size:11px; font-weight:900; color:#444444;
}

.Camp_sort a:link, .Camp_sort a:visited, .Camp_sort a:active, .Camp_sort a:hover{
	color:#ffffff;
	font-size: 13px;
	font-weight: bold;
	text-decoration:none;
	cursor:pointer;
}

.overview_line_over{
	background-color: #C5DEFA;
	border-bottom:1px solid #999999;
	cursor:pointer;
}
.overview_line_out{
	background-color: #ffffff;
	border-bottom:1px solid #999999;
	cursor:pointer;
}


.OverviewTab {
	WIDTH: 12.8em;
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: left; CURSOR: pointer; MARGIN-RIGHT: 4px; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/tab_right.gif) #eeeeee no-repeat right top; COLOR: #000000; FONT-FAMILY: Verdana
}
.OverviewTabActive {
	WIDTH: 12.8em;
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: left; CURSOR: pointer; MARGIN-RIGHT: 5px; TEXT-ALIGN: center; BACKGROUND-COLOR: #45606b;
	BACKGROUND: url(/include/images/basic/left_corner.gif) #45606b no-repeat left top; COLOR: #ffffff; FONT-FAMILY: Verdana;
}
.OverviewTab a {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.OverviewTab a :link{
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.OverviewTab a:visited{
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.OverviewTab a:active{
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.OverviewTab a:hover{
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.OverviewTabActive a {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}
.OverviewTabActive a :link{
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}
.OverviewTabActive a:visited {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}
.OverviewTabActive a :active{
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}
.OverviewTabActive a :hover{
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;TEXT-ALIGN: center;
	BACKGROUND: url(/include/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}

/*
.OverviewTab {
	WIDTH: 12.8em;
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: left; CURSOR: pointer; MARGIN-RIGHT: 4px; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: center;
	BACKGROUND: url(/images/basic/tab_right.gif) #eeeeee no-repeat right top; COLOR: #000000; FONT-FAMILY: Verdana
}
.OverviewTabActive {
	WIDTH: 12.8em;
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: left; CURSOR: pointer; MARGIN-RIGHT: 4px; TEXT-ALIGN: center; BACKGROUND-COLOR: #45606b;
	BACKGROUND: url(/images/basic/left_corner.gif) #45606b no-repeat left top; COLOR: #ffffff; FONT-FAMILY: Verdana;
}
.OverviewTab span {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/images/basic/tab_left.gif) no-repeat left top; COLOR: black;
}
.OverviewTabActive span{
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none;
	BACKGROUND: url(/images/basic/right_corner.gif) no-repeat right top; COLOR: white
}
*/

.merge_btout{
	border : 1px solid #abc3d7;
	background-color:#d7e2ea;
	color:black;
	cursor: pointer;
}

.merge_btover{
	border : 1px solid #4e8ccf;
	background-color:#4e8ccf ;
	color:white;
	cursor: pointer;}
	
	
.float_box_top{
	background-image:url(/include/images/email/float_top.gif);
	background-repeat:no-repeat;
	width:168px;
	height:20px;
} 

.float_box_mid{
	background-image:url(/include/images/email/float_mid.gif);
	background-repeat:repeat-y;
	width:168px;
}
 
.float_box_bot{
	background-image:url(/include/images/email/float_bot.gif);
	background-repeat:no-repeat;
	width:168px;
	height:8px;
}

.float_link a {
	TEXT-DECORATION: none;
	COLOR: #666666;
	font-weight: bold;
	font-size:11px;
}
.float_link a :link{
	TEXT-DECORATION: none;
	COLOR: #666666;
	font-weight: bold;
	font-size:11px;
}
.float_link a :visited {
	TEXT-DECORATION: none;
	COLOR: #666666;
	font-weight: bold;
	font-size:11px;
}
.float_link a:active {
	TEXT-DECORATION: none;
	COLOR: #666666;
	font-weight: bold;
	font-size:11px;
}
.float_link a:hover {
	TEXT-DECORATION: underline;
	COLOR: #666666;
	font-weight: bold;
	font-size:11px;
}